/*!
	Theme Name: 502 Media
	Theme URI: http://502media.com
	Description: This is a child theme.
	Author: 502 Media Group
	Author URI: http://502media.com

	Version: 0.1.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: 502-media
*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem); } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hidden-scroll .grid__item,
.hidden-scroll .entry-header--boxed,
.hidden-scroll .section--testimonials-slider,
.hidden-scroll .masonry-grid__grid-item,
.hidden-scroll .footer__block--left,
.hidden-scroll .footer__block--right,
.hidden-scroll .footer-contact,
.hidden-scroll .custom-logo,
.hidden-scroll button.menu-toggle,
.hidden-scroll .industry__image,
.hidden-scroll .industries-wrap,
.hidden-scroll .testimonials__wrap section,
.hidden-scroll .reveal-slide-in-right,
.hidden-scroll .reveal-slide-in-bottom,
.hidden-scroll .reveal-slide-in-left,
.hidden-scroll .contact-form .gfield {
  visibility: hidden; }

/* ## Box Sizing
--------------------------------------------- */
html,
input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 50%;
  /* 8px browser default */ }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%;
      /* 10px browser default */ } }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  color: #6A696A;
  font-size: 1.6rem;
  line-height: 1.25; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; }

h1 {
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-size: 6rem;
  color: #E3502D; }

h2 {
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-size: 4rem;
  color: #4A4A4A; }

h3 {
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-size: 3.2rem;
  color: #E3502D; }

h4 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 2.4rem;
  color: #4A4A4A;
  text-transform: uppercase; }

h5 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 2.4rem;
  color: #4A4A4A; }

h6 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 2rem;
  color: #E3502D;
  text-transform: uppercase; }

.heading {
  color: #4A4A4A;
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 1rem; }
  .heading--light {
    color: #fff; }
  .heading--orange {
    color: #E3502D; }
  .heading--main {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center; }
    .heading--main.heading--separator-after::after {
      margin: 20px auto 0; }
  .heading--separator-after {
    position: relative; }
    .heading--separator-after::after {
      border-top: 1px solid #E3502D;
      content: ' ';
      display: block;
      margin: 20px 0 0;
      min-width: 140px;
      width: 20%; }
  .heading--separator-after--white {
    position: relative;
    text-align: left; }
    .heading--separator-after--white::after {
      border-top: 1px solid #fff;
      content: ' ';
      display: block;
      margin: 20px 0 0;
      min-width: 140px;
      width: 20%; }

p {
  line-height: 2.4rem;
  margin-bottom: 3.2rem; }

a {
  color: #E3502D;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover, a:focus {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: underline; }

a.link--inverted {
  color: #4A4A4A; }
  aside a.link--inverted {
    color: #9B9B9B; }
  a.link--inverted:hover, a.link--inverted:focus {
    color: #E3502D; }

.font-size--2 {
  font-size: 2rem; }

.font-size--3 {
  font-size: 3.6rem; }

.font-size--4 {
  font-size: 4rem;
  margin-bottom: 3rem; }

.font-size--6 {
  font-size: 6rem;
  margin-bottom: 3rem; }

.font-size--12 {
  font-size: 12rem;
  margin-bottom: 3rem; }

.call-out {
  font-size: 2.4rem;
  margin: 1.0rem auto;
  text-align: center; }

.color--orange {
  color: #E3502D;
  max-width: 95%; }

.first-letter {
  color: #E3502D;
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.8rem; }

.inline-quote {
  color: #E3502D;
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-weight: bold;
  font-style: italic; }

.quote-credits {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .quote-credits {
      font-size: 2rem; } }

.text-align--center {
  text-align: center; }

button,
.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: none;
  border-radius: 2.5rem;
  color: #E3502D;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5.3rem;
  min-width: 20.0rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    text-decoration: none; }
  @media (min-width: 768px) {
    button,
    .button {
      min-width: 24.0rem; } }
  button--outline,
  .button--outline {
    border: 1px solid #E3502D; }
  button:hover, button:focus, button--dark, button--current-item, button.gform_button,
  .button:hover,
  .button:focus,
  .button--dark,
  .button--current-item,
  .button.gform_button {
    background: #E3502D;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  button.gform_button:hover, button.gform_button:focus,
  .button.gform_button:hover,
  .button.gform_button:focus {
    background: #fff;
    border: 1px solid #E3502D;
    color: #E3502D; }
  button.button--small,
  .button.button--small {
    min-width: 180px; }

ul.inline-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none; }
  ul.inline-list#isotope-filters {
    padding-left: 0; }
  ul.inline-list li {
    margin: 5px; }

.read-more-link,
.more-link {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase; }
  .blog .read-more-link, .blog
  .more-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: none; }

html {
  overflow: auto; }
  html.menu-activated {
    overflow: hidden; }

body {
  background: #fff;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  padding-bottom: 10rem;
  position: relative; }
  .fl-builder-edit body.fl-builder-edit {
    overflow-x: hidden !important;
    overflow-y: visible !important;
    position: relative !important; }
  body.menu-activated {
    overflow: hidden; }
  body.body--full-width {
    max-width: none; }
  body.home {
    padding-bottom: 0;
    max-width: 100%; }
    body.home .site {
      height: 100vh;
      background: linear-gradient(267deg, #dd9a42, #e6502d);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 67%; }
  50% {
    background-position: 100% 34%; }
  100% {
    background-position: 0% 67%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 67%; }
  50% {
    background-position: 100% 34%; }
  100% {
    background-position: 0% 67%; } }

.clearfix:after,
main:after,
article:after,
section:after {
  content: "";
  display: table;
  clear: both; }

.site {
  background: #fff;
  margin: 0 auto; }
  .home .site {
    background: transparent; }

.site-content {
  max-width: 1340px;
  margin: 4rem auto 8rem;
  padding: 0 3%; }
  .full-width .site-content {
    max-width: none;
    padding: 0; }
  .site-content.max-width--960 {
    max-width: 960px; }
  .testimonials .site-content {
    margin-top: 0; }
  .our-values .site-content {
    margin: 0 auto; }
  @media (min-width: 768px) {
    .site-content.sidebar--left .content-area {
      float: right;
      padding: 0 0 0 5%;
      width: calc(100% - 210px); } }

.width--65 {
  margin-left: auto;
  margin-right: auto;
  max-width: 65%; }

.width--70 {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex-container--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.inline-flex-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-items--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.masonry-grid {
  font-size: 1.0rem; }
  @media (min-width: 768px) {
    .masonry-grid {
      font-size: 2rem; } }
  .masonry-grid__grid-item {
    margin-bottom: 30px;
    width: calc(50% - 15px); }
    .masonry-grid__grid-item:hover {
      -webkit-transform: scale(1.05) !important;
              transform: scale(1.05) !important; }
    .masonry-grid__grid-item img {
      width: 100%; }
  .masonry-grid__gutter-sizer {
    width: 3em; }

.section--full-width {
  margin: 8rem auto;
  padding: 0 3%; }
  .section--full-width:last-of-type {
    margin-bottom: 0; }

.section__wrap {
  margin: 0 auto;
  max-width: 1060px; }
  .section__wrap--wide {
    max-width: 1260px; }
  .section__wrap--full {
    margin: 0 -3%;
    max-width: none; }

.section--background-image {
  background: #FFFFFF center no-repeat;
  background-size: cover;
  padding: 5% 3%; }
  .section--background-image--right {
    background: no-repeat right center;
    background-size: cover; }

.section--values {
  min-height: 900px;
  padding: 5% 0; }

.section--testimonials-slider {
  padding-left: 0;
  padding-right: 0; }

.section--testimonial-bg {
  padding: 6rem 0; }

.section--half-width .section__wrap {
  background: #fff;
  margin: 0 auto 0 0;
  padding: 10rem 6rem;
  width: 100%; }
  @media (min-width: 1023px) {
    .section--half-width .section__wrap {
      width: 50%; } }
  .section--half-width .section__wrap .testimonials-slider__testimonial-quote {
    margin: 0;
    max-width: none;
    width: auto; }

.background-image--box-shadow {
  background-size: cover;
  background-position-y: 5%;
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15); }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .grid-gutter--30 {
    margin-left: -1.5rem;
    margin-right: -1.5rem; }
    .grid-gutter--30 .grid__item {
      margin: 1.5rem;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 40%;
              flex: 1 1 40%; }
  .grid--3 .grid__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px; }
    @media (min-width: 768px) {
      .grid--3 .grid__item {
        -ms-flex-preferred-size: calc(30% - 6rem);
            flex-basis: calc(30% - 6rem); } }
    .grid--3 .grid__item--shadow {
      -webkit-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2); }
    .grid--3 .grid__item--card {
      padding: 4rem 3rem; }
      .grid--3 .grid__item--card .inline-quote {
        margin-top: 3rem;
        font-family: "freight-sans-pro", sans-serif; }
  .grid--4 .grid__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px; }
    @media (min-width: 768px) {
      .grid--4 .grid__item {
        -ms-flex-preferred-size: 22%;
            flex-basis: 22%; } }
  .grid__our-space {
    display: block; }

@supports (grid-gap: 1rem) {
  .grid {
    display: grid; }
    .grid-gutter--30 {
      grid-gap: 3rem; }
      .grid-gutter--30 .grid__item {
        margin: 0; }
    @media (min-width: 640px) {
      .grid--2 {
        grid-template-columns: repeat(2, 1fr); } }
    .grid--3.staff-profiles {
      grid-template-columns: repeat(2, 1fr); }
      @media (min-width: 768px) {
        .grid--3.staff-profiles {
          grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 768px) {
      .grid--3 {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 768px) {
      .grid--4 {
        grid-template-columns: repeat(4, 1fr); } }
    .grid--post-links {
      margin: 6rem 0; }
    .grid__our-space {
      grid-row-gap: 2rem; }
    .grid__item--shadow {
      -webkit-box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2); }
    .grid__item--card {
      padding: 8%; }
      .grid__item--card p {
        margin: 0 0 1rem; } }

.full-width--forced {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw; }

@media (min-width: 480px) {
  .column-count--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .column-count--2 .entry {
      max-width: calc(50% - 5rem);
      margin: 0 2.5rem; } }

.about-us-boxes .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .about-us-boxes .grid__item .stretch {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.about-us-boxes .heading {
  text-transform: none; }

.hero {
  background: #DD7742 no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .home .hero {
    background: transparent; }
  .hero__wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20.0rem;
            flex: 1 1 20.0rem;
    margin: 0 auto;
    padding: 0 3% 10rem; }
    .home .hero__wrap {
      height: 100vh; }
  .hero__scroll-indicator {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background: rgba(200, 200, 200, 0.7);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-weight: 600;
    height: 10.0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 4.2rem;
    text-decoration: none;
    width: 10.0rem;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-animation: bounce 1.5s infinite;
            animation: bounce 1.5s infinite; }
    .hero__scroll-indicator:hover, .hero__scroll-indicator:focus {
      text-decoration: none; }
  .our-story .hero::after {
    background: url("../images/Paper_Texture-v2.png");
    bottom: 0;
    content: ' ';
    display: block;
    height: 110px;
    position: absolute;
    width: 100%; }
  .our-work .hero {
    background-position: left;
    background-size: auto 100%;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease; }
  .staff-interior .hero {
    background-position-x: 40%;
    height: 45rem; }
    @media (min-width: 768px) {
      .staff-interior .hero {
        background-position: center center; } }

.scroll-indicator__text {
  text-transform: uppercase;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10.0rem;
          flex: 1 1 10.0rem;
  font-size: 1.4rem;
  margin-top: 2.6rem;
  text-align: center; }

.scroll-indicator__arrow {
  border-bottom: .4rem solid #fff;
  border-right: .4rem solid #fff;
  height: 2.5rem;
  margin-bottom: 2.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2.5rem; }

.site-header {
  margin-bottom: 5rem; }
  .site-header__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0 1%; }

.site-title,
.site-description {
  margin-bottom: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  width: .1rem;
  border: 0;
  overflow: hidden;
  line-height: 1; }

.custom-logo {
  max-width: 9.6rem; }

.hero .entry-header {
  max-width: 68.0rem;
  padding: 0 1%; }
  .our-story .hero .entry-header {
    margin-top: 15.0rem; }
  .hero .entry-header--boxed {
    background: #E3502D;
    margin: 0 -3.5% 0 auto;
    padding: 5.3rem 7.5rem; }

.entry-subtitle {
  font-size: 2.4rem;
  margin-bottom: 0;
  text-transform: uppercase; }
  .our-story .entry-subtitle {
    margin: 0 0 10.0rem 6.0rem; }
  .entry-header--boxed .entry-subtitle {
    font-size: 2rem;
    font-weight: 600; }

.entry-title--light,
.entry-subtitle--light {
  color: #ffffff; }

.our-story .hero .entry-title {
  font-size: 7.0rem;
  font-weight: bold;
  padding: 0 0 3.0rem 0;
  position: relative; }
  @media (min-width: 768px) {
    .our-story .hero .entry-title {
      font-size: 10.0rem;
      padding: 0 0 7.0rem 0; } }
  .our-story .hero .entry-title::after {
    border-bottom: 2px solid #fff;
    bottom: 0;
    content: ' ';
    display: inline-block;
    left: 10%;
    position: absolute;
    width: 18.0rem; }
    @media (min-width: 768px) {
      .our-story .hero .entry-title::after {
        left: 18.0rem;
        width: 28.0rem; } }

.entry-header--boxed .entry-title {
  font-size: 4.8rem;
  font-weight: normal;
  padding: 0; }

.blog .content-area .entry-title {
  font-size: 3.2rem; }

.our-story .entry {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 3%; }
  @media (min-width: 780px) {
    .our-story .entry {
      padding: 0; } }

.entry.post-link--bg-image {
  background-color: #E3502D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30% 4rem 6rem;
  text-decoration: none;
  position: relative; }
  .entry.post-link--bg-image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1; }

.entry .post-term {
  font-weight: 600;
  text-transform: uppercase; }

.entry-meta {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600; }
  .entry-meta .fancy {
    font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
    text-transform: none; }

hr {
  background: #E3502D;
  border: none;
  color: #E3502D;
  height: 1px;
  margin: 4rem auto 6rem;
  min-width: 24rem;
  width: 50%; }

img {
  max-width: 100%;
  height: auto; }

.giphy-embed {
  max-width: 100%; }

iframe {
  max-width: 100%; }

a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 2.4rem; }

img.alignnone,
.alignnone {
  margin-bottom: 1.2rem; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 2.4rem 2.4rem 2.4rem 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 2.4rem 0 2.4rem 2.4rem; }

.gallery-caption,
.wp-caption-text {
  font-size: 1.4rem;
  margin: 0;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 2.8rem; }

.flex-item {
  min-width: 240px; }
  .flex-item p:last-of-type {
    margin-bottom: 1rem; }
  .flex-item--two-thirds {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 66%;
            flex: 1 1 66%; }
  .flex-item--one-half {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }
  .flex-item--one-third {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%; }

.fixed-height--100 {
  height: 10rem; }

.margin-bottom--0 {
  margin-bottom: 0; }

.margin-bottom--6 {
  margin-bottom: 6rem; }

.margin-top--6 {
  margin-top: 6rem; }

.staff-profile {
  color: #fff;
  display: block;
  position: relative; }
  .staff-profile__info {
    bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 8%;
    position: absolute; }
  .staff-profile__name {
    font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
    font-style: italic;
    font-size: 3rem; }
    @media (min-width: 1200px) {
      .staff-profile__name {
        font-size: 5rem; } }
  .staff-profile__role {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    max-width: 250px;
    text-transform: uppercase; }

.our-space--large {
  grid-column: 1 / 3;
  grid-row: 1 / 3; }

.testimonials-slider {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 8% 8%; }

.testimonials-slider__testimonial-quote {
  margin-left: auto;
  max-width: 60%;
  width: 720px; }
  @media (min-width: 1200px) {
    .testimonials-slider__testimonial-quote {
      max-width: 80%; } }
  .testimonials-slider__testimonial-quote.quote-credits {
    font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
    text-transform: none; }
  .testimonials-slider__testimonial-quote .heading {
    font-size: 3.6rem;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    margin-bottom: 4rem;
    font-family: "freight-sans-pro", sans-serif; }
    @media (min-width: 1200px) {
      .testimonials-slider__testimonial-quote .heading {
        font-size: 1.6rem;
        line-height: 1.5em; } }
    .testimonials-slider__testimonial-quote .heading::after {
      margin-left: 0; }

.slick-slider .slick-active {
  outline: none; }

.slick-slider .slick-prev,
.slick-slider .slick-next {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
  min-width: 0;
  padding: 3.6rem 2.5rem; }
  .slick-slider .slick-prev:before,
  .slick-slider .slick-next:before {
    border: 4px solid #E3502D;
    border-left: none;
    border-top: none;
    content: ' ';
    height: 3rem;
    left: 0;
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 3rem; }

.slick-slider .slick-prev {
  left: 3%; }
  @media (min-width: 768px) {
    .slick-slider .slick-prev {
      left: 3%; } }
  .slick-slider .slick-prev:before {
    left: 1.5rem;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.slick-slider .slick-next {
  right: 3%; }
  @media (min-width: 768px) {
    .slick-slider .slick-next {
      right: 3%; } }
  .slick-slider .slick-next:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.testimonials__block--right {
  background: #fff;
  margin: 0 0 0 auto;
  max-width: 95%;
  padding: 6rem;
  width: 760px; }

@media (min-width: 560px) {
  .fun-facts img {
    max-width: 70%; } }

@media (min-width: 1023px) {
  .fun-facts img {
    margin-top: -6rem; } }

.archive-pagination {
  margin: 5rem auto; }

.section--values .value__wrap {
  margin-top: auto;
  padding: 5rem; }
  .section--values .value__wrap .heading {
    padding-left: 3.5rem;
    text-indent: -3.5rem; }
  .section--values .value__wrap p {
    color: #4A4A4A;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-left: 3.5rem;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .section--values .value__wrap p {
        margin-left: 4.5rem; } }
    .section--values .value__wrap p:last-of-type {
      margin-bottom: 0; }

#value-1 .value__wrap {
  background: #fff;
  margin-left: auto; }

#value-2 .value__wrap {
  margin-bottom: auto;
  margin-left: 20%;
  max-width: 700px; }

#value-3 .value__wrap {
  margin: 160px 0 auto auto;
  max-width: 700px; }
  @media (min-width: 940px) {
    #value-3 .value__wrap {
      margin: 130px 10% auto auto; } }
  @media (min-width: 1200px) {
    #value-3 .value__wrap {
      margin: 130px 20% auto auto; } }
  #value-3 .value__wrap p {
    color: #fff; }

#value-4 .value__wrap {
  background-color: #E3502D;
  margin-left: auto;
  max-width: 95%;
  width: 900px; }
  #value-4 .value__wrap p {
    color: #fff; }

#value-5 {
  position: relative;
  max-height: 810px;
  min-height: 800px; }
  #value-5 video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none; }
    @media (min-width: 1200px) {
      #value-5 video {
        display: block; } }
  #value-5 .value__wrap {
    padding: 0 8%;
    margin-bottom: auto; }
    @media (min-width: 1200px) {
      #value-5 .value__wrap {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (min-width: 768px) {
      #value-5 .value__wrap {
        margin-bottom: 0; } }
    #value-5 .value__wrap .heading {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100px;
              flex: 1 1 100px;
      margin: 0 3rem 3rem 0;
      position: relative; }
      @media (min-width: 768px) {
        #value-5 .value__wrap .heading {
          white-space: pre; } }
      @media (min-width: 1200px) {
        #value-5 .value__wrap .heading {
          margin-bottom: 0; }
          #value-5 .value__wrap .heading::after {
            content: ' ';
            height: 8rem;
            position: absolute;
            right: -32px;
            top: 0;
            width: 1px;
            border-right: 1px solid #fff; } }
  #value-5 p {
    color: #fff;
    margin: 0 0 0 3rem; }

#value-6 {
  background-position: -240px; }
  @media (min-width: 1023px) {
    #value-6 {
      background-position: left; } }
  #value-6 .value__wrap {
    margin: auto 8% auto auto; }

#value-7 {
  background-position: right;
  position: relative;
  min-height: 775px; }
  #value-7 video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none; }
    @media (min-width: 1200px) {
      #value-7 video {
        display: block; } }
  #value-7 .value__wrap {
    margin: 12% 8% auto auto;
    max-width: 95%;
    width: 650px;
    background: rgba(74, 74, 74, 0.3); }
    #value-7 .value__wrap p {
      color: #ffffff;
      text-shadow: 0 1px #4A4A4A; }
    @media (min-width: 1023px) {
      #value-7 .value__wrap {
        margin-top: 8%; } }

.industry__image.alignleft {
  margin: 0 3rem 2rem 0;
  width: calc(50% - 3rem); }
  @media (min-width: 768px) {
    .industry__image.alignleft {
      margin: 0 6rem 4rem 0; } }

.industry__list {
  padding-left: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.industry__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem; }
  .industry__wrap img {
    margin-top: auto; }

.testimonials__project-grid .grid__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9B9B9B no-repeat;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem; }

.testimonials__project-grid .project__wrap {
  max-width: 380px;
  margin: 0 auto; }
  .testimonials__project-grid .project__wrap p:last-of-type {
    margin: 4rem auto 0; }
  .testimonials__project-grid .project__wrap--right {
    margin: 0 0 0 auto; }

.testimonials__wrap .heading {
  font-family: "freight-sans-pro", sans-serif; }

.testimonials__wrap .quote-credits {
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  text-transform: none; }

.blog .site-content .entry-title a {
  text-decoration: none; }

.single-work video {
  background: #ffffff; }

/* about the author section - under construction */
.about-author {
  padding-top: 4rem; }
  .about-author img {
    float: left;
    margin-right: 4rem;
    border-radius: 50%;
    border: 0.4rem solid #E3502D; }

.social-text {
  display: inline;
  padding-right: 1rem;
  font-size: 2rem; }

.fa {
  padding-left: 1.8rem;
  vertical-align: center; }

.fa-facebook {
  color: #3B5998; }

.fa-instagram {
  color: #FB3958; }

.fa-twitter {
  color: #1DCAFF; }

.fa-pinterest {
  color: #C92228; }

.vertical-sep {
  width: 1px;
  height: 3rem;
  display: inline-block;
  margin: 0 2rem;
  background: #ffffff;
  vertical-align: middle; }

.page-template-work-template .masonry-grid__grid-item {
  width: 100%; }
  @media (min-width: 500px) {
    .page-template-work-template .masonry-grid__grid-item {
      width: calc(50% - 15px); } }

.work-grid-info-wrapper {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  padding-right: 4rem; }
  .work-grid-info-wrapper .work-grid-title {
    line-height: 1;
    margin-bottom: 1rem; }
  .work-grid-info-wrapper .work-grid-excerpt {
    border-left: 1px solid #ffffff;
    padding-left: 2rem;
    color: #ffffff;
    line-height: 1;
    margin: 2rem 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    max-width: 34rem; }
  .work-grid-info-wrapper .work-grid-learn-more {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin-left: 2rem; }

.widget-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 768px) {
    .widget-area {
      display: block;
      min-width: 210px; }
      .sidebar--left .widget-area {
        border-right: 2px solid #E3502D;
        float: left; } }
  .widget-area .widget {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 150px;
            flex: 1 1 150px;
    margin-bottom: 4rem;
    padding: 0 3%; }
    @media (min-width: 768px) {
      .widget-area .widget {
        padding: 0; } }
  .widget-area ul {
    list-style-type: none;
    padding-left: 0; }
    .widget-area ul > li > a {
      display: block;
      font-weight: 600;
      padding: 2rem 3rem;
      text-transform: uppercase; }
      .widget-area ul > li > a:hover, .widget-area ul > li > a:focus, .widget-area ul > li > a.current-item {
        background: #E3502D;
        color: #fff;
        text-decoration: none; }

.contact-form ul.gform_fields, .gform_wrapper ul.gform_fields {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contact-form ul.gform_fields *::-webkit-input-placeholder, .gform_wrapper ul.gform_fields *::-webkit-input-placeholder {
    text-transform: uppercase;
    font-style: italic; }
  .contact-form ul.gform_fields *:-ms-input-placeholder, .gform_wrapper ul.gform_fields *:-ms-input-placeholder {
    text-transform: uppercase;
    font-style: italic; }
  .contact-form ul.gform_fields *::-ms-input-placeholder, .gform_wrapper ul.gform_fields *::-ms-input-placeholder {
    text-transform: uppercase;
    font-style: italic; }
  .contact-form ul.gform_fields *::placeholder, .gform_wrapper ul.gform_fields *::placeholder {
    text-transform: uppercase;
    font-style: italic; }
  .contact-form ul.gform_fields input,
  .contact-form ul.gform_fields textarea, .gform_wrapper ul.gform_fields input,
  .gform_wrapper ul.gform_fields textarea {
    border-radius: 5px;
    border: 1px solid #9B9B9B; }
  .contact-form ul.gform_fields input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']), .gform_wrapper ul.gform_fields input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 1.5rem; }
  .contact-form ul.gform_fields input[type='checkbox'], .gform_wrapper ul.gform_fields input[type='checkbox'] {
    margin-top: 0; }

.contact-form .heading--main, .gform_wrapper .heading--main {
  margin-top: 6rem; }

.contact-form .gfield, .gform_wrapper .gfield {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }
  @media (min-width: 642px) {
    .contact-form .gfield.one-third, .gform_wrapper .gfield.one-third {
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; }
    .contact-form .gfield.one-half, .gform_wrapper .gfield.one-half {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .contact-form .gfield.two-thirds, .gform_wrapper .gfield.two-thirds {
      -ms-flex-preferred-size: 66%;
          flex-basis: 66%; } }

.contact-form .gform_footer, .gform_wrapper .gform_footer {
  text-align: center; }

.gform_wrapper .fancy_checkbox, .gform_wrapper .top_label .fancy_checkbox {
  min-width: 25% !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem !important; }
  .gform_wrapper .fancy_checkbox .gfield_fancy_checkbox_label, .gform_wrapper .top_label .fancy_checkbox .gfield_fancy_checkbox_label {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .gform_wrapper .fancy_checkbox .gfield_fancy_checkbox_label .field_label_text_wrapper, .gform_wrapper .top_label .fancy_checkbox .gfield_fancy_checkbox_label .field_label_text_wrapper {
      font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
      font-size: 4rem;
      line-height: 1;
      margin-top: 2rem; }
    .gform_wrapper .fancy_checkbox .gfield_fancy_checkbox_label .gfield_description, .gform_wrapper .top_label .fancy_checkbox .gfield_fancy_checkbox_label .gfield_description {
      padding: 0;
      font-size: 2rem;
      font-weight: normal;
      max-width: 24rem;
      margin: 2rem 0;
      min-height: 8rem; }
    .gform_wrapper .fancy_checkbox .gfield_fancy_checkbox_label img, .gform_wrapper .top_label .fancy_checkbox .gfield_fancy_checkbox_label img {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      max-width: 10rem;
      width: 100%; }
  .gform_wrapper .fancy_checkbox div.ginput_container, .gform_wrapper .top_label .fancy_checkbox div.ginput_container {
    display: inline-block; }
    .gform_wrapper .fancy_checkbox div.ginput_container input, .gform_wrapper .top_label .fancy_checkbox div.ginput_container input {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0; }
    .gform_wrapper .fancy_checkbox div.ginput_container .fancy_checkbox_button, .gform_wrapper .top_label .fancy_checkbox div.ginput_container .fancy_checkbox_button {
      border: 1px solid;
      display: inline-block;
      text-align: center;
      min-width: 16rem; }
      .gform_wrapper .fancy_checkbox div.ginput_container .fancy_checkbox_button:hover, .gform_wrapper .top_label .fancy_checkbox div.ginput_container .fancy_checkbox_button:hover {
        background: #ffffff;
        color: #E3502D; }
      .gform_wrapper .fancy_checkbox div.ginput_container .fancy_checkbox_button .fancy_checkbox_button_text:before, .gform_wrapper .top_label .fancy_checkbox div.ginput_container .fancy_checkbox_button .fancy_checkbox_button_text:before {
        content: 'Select'; }
    .gform_wrapper .fancy_checkbox div.ginput_container input:checked + .fancy_checkbox_button, .gform_wrapper .top_label .fancy_checkbox div.ginput_container input:checked + .fancy_checkbox_button {
      background: #E3502D !important;
      color: #ffffff !important; }
      .gform_wrapper .fancy_checkbox div.ginput_container input:checked + .fancy_checkbox_button .fancy_checkbox_button_text:before, .gform_wrapper .top_label .fancy_checkbox div.ginput_container input:checked + .fancy_checkbox_button .fancy_checkbox_button_text:before {
        content: 'Selected'; }

.skip-link {
  display: none;
  margin: 0;
  visibility: hidden; }
  .skip-link li {
    height: 0;
    width: 0;
    list-style: none; }
  .skip-link:focus {
    display: inline-block;
    visibility: visible; }

/* Display outline on focus */
.site {
  -webkit-transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1);
  transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1); }
  .menu-activated .site {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    -webkit-transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1);
    transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1); }
    @media (min-width: 768px) {
      .menu-activated .site {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px); } }
    @media (min-width: 1023px) {
      .menu-activated .site {
        -webkit-transform: translateX(-700px);
                transform: translateX(-700px); } }

button.menu-toggle {
  background: transparent;
  border-radius: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  min-width: 0;
  padding: 1.0rem 1.0rem 2.0rem;
  position: relative;
  width: auto; }
  button.menu-toggle:hover, button.menu-toggle:focus {
    border: none;
    outline: none; }
  button.menu-toggle span {
    display: block;
    position: relative;
    height: .4rem;
    background: #fff;
    -webkit-transition: background 0s .2s;
    transition: background 0s .2s;
    width: 100%;
    margin-top: 1.0rem;
    border-radius: 0.05rem; }
    button.menu-toggle span::after, button.menu-toggle span::before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: .4rem;
      background-color: #fff;
      border-radius: 0.05rem;
      content: " "; }
    button.menu-toggle span::before {
      top: -.9rem;
      transition: bottom .2s .2s, -webkit-transform .2s 0s;
      -webkit-transition: bottom .2s .2s, -webkit-transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s, -webkit-transform .2s 0s; }
    button.menu-toggle span::after {
      bottom: -.9rem;
      transition: bottom .2s .2s, -webkit-transform .2s 0s;
      -webkit-transition: bottom .2s .2s, -webkit-transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s, -webkit-transform .2s 0s; }
  button.menu-toggle.activated span {
    background: 0 0;
    margin-top: 1.5rem; }
    button.menu-toggle.activated span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: top .2s 0s, -webkit-transform .2s .2s;
      -webkit-transition: top .2s 0s, -webkit-transform .2s .2s;
      transition: top .2s 0s, transform .2s .2s;
      transition: top .2s 0s, transform .2s .2s, -webkit-transform .2s .2s; }
    button.menu-toggle.activated span::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: bottom .2s 0s, -webkit-transform .2s .2s;
      -webkit-transition: bottom .2s 0s, -webkit-transform .2s .2s;
      transition: bottom .2s 0s, transform .2s .2s;
      transition: bottom .2s 0s, transform .2s .2s, -webkit-transform .2s .2s; }

body:not(.home) button.menu-toggle {
  width: 100%;
  background: #E3502D;
  padding: 0 3rem 2rem;
  max-width: 9.6rem;
  height: 9.6rem; }

.main-navigation {
  background: white;
  border-left: 0.5rem solid #E3502D;
  color: #4A4A4A;
  max-height: calc(100% - 20rem);
  min-width: 240px;
  overflow: hidden;
  padding-bottom: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: -1; }
  @media (min-width: 768px) {
    .main-navigation {
      width: 500px; } }
  @media (min-width: 1023px) {
    .main-navigation {
      width: 700px; } }
  .menu-activated .main-navigation {
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-transition: z-index 1.5s;
    transition: z-index 1.5s;
    z-index: 1; }
  .main-navigation__cta {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background: url("../images/502-bg-graphic.jpg") center no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 8.0rem 2.0rem 8.0rem 10%; }
  .main-navigation .menu-item, .main-navigation__label {
    font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
    font-style: italic;
    font-size: 2.5rem; }
    @media (min-width: 768px) {
      .main-navigation .menu-item, .main-navigation__label {
        font-size: 2.5rem; } }
  .main-navigation__info-block {
    margin-top: 4.0rem;
    padding: 2.0rem 10%; }
  .main-navigation__testimonial {
    padding: 2.0rem 10%; }
  .main-navigation li.menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E3502D;
    margin-bottom: 2.0rem; }
    .main-navigation li.menu-item a {
      color: #4A4A4A;
      padding: 1.4rem 1.0rem;
      text-decoration: none; }
      .main-navigation li.menu-item a:hover, .main-navigation li.menu-item a:focus {
        color: #E3502D; }
      @media (min-width: 768px) {
        .main-navigation li.menu-item a {
          padding: 2.5rem 1.0rem; } }

ul.nav-menu {
  list-style-type: none;
  padding: 0 10%;
  margin-bottom: 8%; }

.cta__text {
  margin: 2.0rem 8% 2.0rem 0; }

.info-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 6.0rem; }
  .info-block__row .main-navigation__label {
    -ms-flex-preferred-size: 28.0rem;
        flex-basis: 28.0rem; }
  .info-block__row:last-of-type {
    border-bottom: 1px solid #E3502D; }

.info-block__value {
  color: #9B9B9B;
  color: #4A4A4A;
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  font-size: 2.4rem;
  font-style: italic;
  line-height: 3.0rem;
  margin-top: 1.0rem; }

.main-navigation__testimonial .quote-credits {
  font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
  text-transform: none;
  color: #E3502D; }

.main-navigation__testimonial .inline-quote {
  font-size: 2.2rem;
  line-height: normal;
  font-family: "freight-sans-pro", sans-serif;
  color: #4A4A4A;
  font-weight: normal;
  font-style: italic; }
  @media (min-width: 768px) {
    .main-navigation__testimonial .inline-quote {
      font-size: 2.2rem;
      letter-spacing: 0.06rem;
      line-height: 1.5; } }
  .main-navigation__testimonial .inline-quote::after {
    content: '';
    display: block;
    width: 10.0rem;
    height: .1rem;
    margin-top: 4.0rem;
    background: #E3502D; }

.our-work__nav {
  margin: 6rem auto;
  display: none; }
  @media (min-width: 480px) {
    .our-work__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .our-work__nav .heading {
    font-size: 4rem;
    margin-right: 4rem; }
  .our-work__nav .inline-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    @media (min-width: 768px) {
      .our-work__nav .inline-list {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-preferred-size: 30rem;
            flex-basis: 30rem; } }
    .our-work__nav .inline-list .menu-item {
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 18rem;
              flex: 0 1 18rem;
      margin: 2rem 2rem;
      position: relative; }
      .our-work__nav .inline-list .menu-item:after {
        display: block;
        content: '';
        width: 1px;
        height: 6rem;
        background: #4A4A4A;
        position: absolute;
        right: -2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      .our-work__nav .inline-list .menu-item:last-child:after {
        display: none; }
    .our-work__nav .inline-list .menu-item a {
      color: #4A4A4A;
      font-size: 2rem;
      display: inline-block;
      text-align: center; }
      .our-work__nav .inline-list .menu-item a.button--current-item {
        text-decoration: underline;
        background: none; }

.main-navigation {
  /* :before */ }
  .main-navigation .menu-item > a {
    position: relative;
    min-width: 40%; }
  .main-navigation .menu-item > a span {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  .main-navigation .menu-item > a:before {
    content: '';
    left: 1rem;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .3s, -webkit-transform 0.3s;
    transition: opacity .3s, -webkit-transform 0.3s;
    transition: opacity .3s, transform 0.3s;
    transition: opacity .3s, transform 0.3s, -webkit-transform 0.3s; }
  .main-navigation .menu-item > a:before {
    content: attr(data-hover);
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%); }

.front-page__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 160px;
          flex: 1 1 160px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .front-page__nav .nav-menu {
    max-width: 940px;
    padding: 0 3%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .front-page__nav .open-menu {
    margin-top: 4rem; }
  .front-page__nav .menu-item, .front-page__nav .typed-cursor {
    color: #fff;
    font-family: "Didot 11 A", "Didot 11 B", Georgia, serif;
    font-size: 3.2rem;
    font-style: italic;
    margin-right: 2%; }
    @media (min-width: 768px) {
      .front-page__nav .menu-item, .front-page__nav .typed-cursor {
        font-size: 4.2rem; } }
    @media (min-width: 1023px) {
      .front-page__nav .menu-item, .front-page__nav .typed-cursor {
        font-size: 6.4rem; } }
    .front-page__nav .menu-item a, .front-page__nav .typed-cursor a {
      display: inline-block;
      color: #fff;
      text-decoration: none; }
      .front-page__nav .menu-item a::after, .front-page__nav .typed-cursor a::after {
        content: '';
        display: block;
        width: 0;
        height: 8px;
        top: -12px;
        position: relative;
        background: #FFF;
        -webkit-transition: width .3s;
        transition: width .3s; }
      .front-page__nav .menu-item a:hover:after, .front-page__nav .typed-cursor a:hover:after {
        width: 100%; }
  .front-page__nav .typed-cursor {
    position: relative;
    left: -2%;
    font-size: 4rem;
    line-height: 1; }
    @media (min-width: 768px) {
      .front-page__nav .typed-cursor {
        font-size: 6rem; } }
    @media (min-width: 1023px) {
      .front-page__nav .typed-cursor {
        font-size: 8rem; } }

.typed-cursor {
  -webkit-animation: blink 1000ms infinite;
          animation: blink 1000ms infinite; }

.site-footer {
  clear: both; }

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 6.4rem; }

.footer__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__block h4 {
    font-size: 4rem;
    text-transform: none; }
  .footer__block--left {
    background: url("../images/footer__block--left.jpg") no-repeat center;
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15.0rem;
            flex: 1 1 15.0rem;
    min-width: 38.0rem;
    text-align: center; }
  .footer__block--right {
    background: url("../images/502-bg-graphic.jpg") no-repeat center;
    background-size: cover;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 60.0rem;
            flex: 2 1 60.0rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
    @media (min-width: 768px) {
      .footer__block--right {
        -webkit-box-ordinal-group: initial;
            -ms-flex-order: initial;
                order: initial; } }
  .footer__block-wrapper {
    margin: 14.0rem 4.0rem; }

#get-in-touch {
  background: #fff;
  border-radius: 2.5rem;
  border-top-right-radius: 3.5em 50%;
  border-bottom-right-radius: 3.5em 50%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  bottom: 2rem;
  color: #4A4A4A;
  font-size: 1.0rem;
  position: fixed;
  right: 2rem;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  opacity: 0;
  pointer-events: none; }
  #get-in-touch.visible {
    opacity: 1;
    pointer-events: auto; }
  .page-id-61 #get-in-touch {
    display: none; }
  @media (min-width: 768px) {
    #get-in-touch {
      font-size: 1.4rem; } }
  #get-in-touch:hover, #get-in-touch:focus {
    text-decoration: none;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  #get-in-touch .heading {
    font-size: 2.5em;
    margin-bottom: 0; }
  #get-in-touch p {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase; }
  #get-in-touch .get-in-touch__text {
    margin: 1em 2em; }
  #get-in-touch .get-in-touch__image {
    border: 0.5em solid #E3502D;
    border-radius: 50%;
    background: #9B9B9B url("../images/get-in-touch.png") no-repeat center;
    background-size: cover;
    height: 7em;
    width: 7em; }

.home-footer {
  color: #ffffff;
  margin-top: -8rem;
  position: relative;
  z-index: 100; }
  .home-footer a {
    color: #ffffff; }
  .home-footer .vertical-sep {
    display: block;
    width: 0;
    height: 0; }
  @media (min-width: 768px) {
    .home-footer .vertical-sep {
      display: inline-block;
      width: 1px;
      height: 3rem; } }

.footer-contact {
  color: #E3502D;
  margin-top: 4rem; }
  .footer-contact .footer-logo {
    max-width: 14rem; }
  .footer-contact .footer-tagline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 0 3rem; }
  .footer-contact .vertical-sep {
    display: block;
    background: #E3502D;
    width: 0;
    height: 0; }
  @media (min-width: 768px) {
    .footer-contact .vertical-sep {
      display: inline-block;
      width: 1px;
      height: 3rem; } }

body.show-bg #page {
  background: url("../images/OurStory.jpg");
  height: 4000px; }

.hidden {
  display: none; }
/*# sourceMappingURL=style.css.map */