{% extends 'base.twig' %}

{% block home_content %}
	<div class="text-align--center">
		<div class="heading heading--light font-size--6">Ooops!</div>
		<img style="max-width: 40rem; margin: 0 auto;" src="{{ theme.link }}/static/images/404.png" />
		<div class="heading heading--light font-size--6">Not Found</div>
		<p class="heading--light">Don't worry, we can get you back to where you should be!</p>
		<br>
		<div><a class="button white" href="/">Go to Homepage</a>
	</div>
{% endblock %}

{% block footer %}
	{# No Footer #}
{% endblock %}