{% extends 'base.twig' %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
			<h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
			<p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %}

{% block content %}
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
				<main id="main" class="site-main">
					 <section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">
						<div class="section__wrap section__wrap--wide">
								<h2 class="heading heading--main heading--separator-after">We Work A Lot Like You Work</h2>
								<div class="width--70 margin-bottom--6">
										<p>As an expert in what you do, you have a business that can help others succeed. You know proactive marketing is the way 
										to growth, but in a world with growing to-do lists and shrinking budgets, it feels like marketing is your company’s last priority. 
										In the end, you are forced to do the same old thing and left to wonder if your superhuman efforts are actually moving the needle.</p>
										<p>Sound familiar?</p>
										<p>If so, we’re here to help. Truth be told, we work a lot like you work. We see a problem. We tackle the problem. 
										We repeat. No jargon or proprietary formula needed.</p>
										<h3 class="heading heading--orange font-size--2">When looking for an agency, you need an approach that is real and relatable. Something human.</h3>
								</div>

								<div class="grid grid--3 grid-gutter--30 about-us-boxes">
										<div class="grid__item grid__item--shadow grid__item--card">
												<div class="flex-container align-items--center fixed-height--100">
														<img class="aligncenter" src="{{ theme.link }}/static/images/we-listen-graphic.png" alt="We listen"/>
												</div>
												<h4 class="heading heading--main heading--separator-after font-size--4">We Listen</h4>
												<p class="stretch">Our industry is famous for skipping this step. You have ideas. You know your business.
														You know your story. So, that's where we start. We will never claim to know more about
														your organization than you will. We start every relationship with open ears.
												</p>
												<p class="inline-quote text-align--center">We listen for the stories that aren't being
														told.</p>
										</div>

										<div class="grid__item grid__item--shadow grid__item--card">
												<div class="flex-container align-items--center fixed-height--100">
														<img class="aligncenter" src="{{ theme.link }}/static/images/we-create-graphic.png" alt="We listen"/>
												</div>
												<h4 class="heading heading--main heading--separator-after font-size--4">We Create</h4>
												<p>Using a customer-centric approach, we engage with your customers’ narratives and position you as a guiding light. 
												But, telling a great story isn't enough. Results are what matter.</p>
												<p class="stretch">Every idea, strategy, theme, plan and message we produce is tied to the bottom line: moving the needle in areas that matter to your business.</p>
												<p class="inline-quote text-align--center">We create the tools to tell your story & get
														results.</p>
										</div>

										<div class="grid__item grid__item--shadow grid__item--card">
												<div class="flex-container align-items--center fixed-height--100">
														<img class="aligncenter" src="{{ theme.link }}/static/images/we-execute-graphic.png" alt="We listen"/>
												</div>
												<h4 class="heading heading--main heading--separator-after font-size--4">We Execute</h4>
												<p class="stretch">With a staff of in-house creatives, we take your story and the strategy behind it to
														market. We breathe life into your message through beautiful works of design and copy,
														motion and code, film and experience.</p>
												<p class="inline-quote text-align--center">We take your story to the world.</p>
										</div>
								</div>
						</div>

				</section>

				<section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">

						<div class="section__wrap section__wrap--wide">

								<h2 class="heading heading--main heading--separator-after">The Staff</h2>
								
								<div class="grid grid--3 staff-profiles grid-gutter--30">
									{% for staff in all_staff %}
										<a href="{{ staff.link }}" class="grid__item staff-profile clearfix">
											{% set avatar = TimberImage( staff.get_field('avatar') ) %}
											<img src="{{ avatar.src('large') }}" alt="{{ avatar.alt }}">
											<div class="staff-profile__info">
													<span class="staff-profile__name">{{ staff.title }}</span>
													<span class="staff-profile__role">{{ staff.get_field('job_title') }}</span>
											</div>
										</a>
									{% endfor %}
								</div>

						</div>

				</section>

				<section class="section--full-width section--background-image background-image--box-shadow" style="background-image:url('{{ theme.link }}/static/images/work-interior-background.png');" itemscope="" itemtype="https://schema.org/CreativeWork">

					<div class="section__wrap section__wrap--wide">

						<h2 class="heading heading--main heading--separator-after">Our Space</h2>

						<p class="width--70">We proudly call Downtown Manhattan our home. Our newly renovated downtown suite
								sits in
								the middle of a growing and thriving district. Stop by anytime and chat with us. We never charge
								for meetings and are always willing to talk about your story.</p>

						<div class="grid grid--4 grid-gutter--30 grid__our-space">
							<img class="grid__item our-space our-space--large" src="{{ TimberImage(post.get_field('our_space_pic_1')).src('large') }}" alt="{{ TimberImage(post.get_field('our_space_pic_1')).alt }}"/>
							<img class="grid__item our-space" src="{{ TimberImage(post.get_field('our_space_pic_2')).src('large') }}" alt="{{ TimberImage(post.get_field('our_space_pic_1')).alt }}"/>
							<img class="grid__item our-space" src="{{ TimberImage(post.get_field('our_space_pic_3')).src('large') }}" alt="{{ TimberImage(post.get_field('our_space_pic_1')).alt }}"/>
							<img class="grid__item our-space" src="{{ TimberImage(post.get_field('our_space_pic_4')).src('large') }}" alt="{{ TimberImage(post.get_field('our_space_pic_1')).alt }}"/>
							<img class="grid__item our-space" src="{{ TimberImage(post.get_field('our_space_pic_5')).src('large') }}" alt="{{ TimberImage(post.get_field('our_space_pic_1')).alt }}"/>
						</div>

					</div>

				</section>

					<section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">

							<div class="section__wrap section__wrap--wide">

									<h2 class="heading heading--main heading--separator-after">Story Is Powerful</h2>

									<p class="width--65 text-align--center">Using the power of story, we’ve helped businesses just like yours clarify their message and produce incredibly effective marketing efforts.</p>

									<div class="grid grid--2 grid-gutter--30 grid--post-links">
										{% for bpost in posts %}
											<a class="entry grid__item post-link--bg-image" href="{{ bpost.link }}" style="background-image:url('{{ TimberImage(bpost.thumbnail).src('large') }}');">
												<h3 class="heading heading--light heading--separator-after--white post-title font-size--4">{{ bpost.title }}</h3>
												<span class="post-term font-size--2">{{ bpost.category }}</span>
											</a>
										{% endfor %}

									</div>

									<p class="text-align--center">
											<a class="button button--outline" href="{{ blog_url }}">View All Posts</a>
									</p>

							</div>

					</section>

					<section class="section--full-width section--testimonials-slider section--background-image background-image--box-shadow" style="background-image:url('{{ theme.link }}/static/images/work-interior-background.png');" itemscope="" itemtype="https://schema.org/CreativeWork">

							<h2 class="heading heading--main heading--separator-after">What Our Clients Say</h2>

							<div class="testimonials-slider" style="background-image:url('{{ theme.link }}/static/images/testimonials-bg.jpg');">
								{% for testimonial in post.get_field('testimonials') %}
									<div class="testimonials-slider__slide">
											<div class="testimonials-slider__testimonial-quote">
													<h3 class="heading heading--separator-after">“{{ testimonial.quote }}”</h3>
													<span class="quote-credits color--orange">{{ testimonial.source }}</span>
											</div>
									</div>
								{% endfor %}
									<div class="testimonials-slider__slide">
											<div class="testimonials-slider__testimonial-quote">
													<h3 class="heading heading--separator-after">“Their work was exceptional and their attention
															to detail
															made every phase of the project seamless. They are trustworthy and capable. Whatever the
															need, I
															believe they have the talent and capacity to  deliver results.”</h3>
													<span class="quote-credits color--orange">Doug Hofbauer, Frontier Farm Credit</span>
											</div>
									</div>
							</div>

					</section>

					{# <section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">

							<div class="section__wrap section__wrap--wide">

									<h2 class="heading heading--main heading--separator-after">Career Openings</h2>

									<p class="width--65">Here at 502, we are always growing and looking for talented,
											dedicated, and value-driven individuals to join our team. We provide awesome
											benefits and
											competitive pay. If You are Interested, please apply below: We would love to talk with you.</p>

									<div class="grid grid--2 grid-gutter--30 grid--post-links">
											
											{% for job in jobs %}
												<div class="entry grid__item">
														<img class="alignnone" src="{{ TimberImage(job.thumbnail).src('large') }}" alt="{{ TimberImage(job.thumbnail).alt }}"/>
														<h3 class="heading heading--orange heading--separator-after post-title font-size--4">{{ job.title }}</h3>
														<p>{{ job.preview.read_more(false) }}</p>
														<p>
																<a href="{{ job.link }}" class="more-link read-more-link font-size--2">Learn More</a>
														</p>
												</div>
											{% endfor %}

									</div>
									
									{% if jobs is empty %}
										<p class="text-align--center">Looks like we aren't actively hiring right now. If you still think you'd be a good fit, contact us!</p>
										<p class="text-align--center">
											<a class="button button--outline" href="/contact-us">Contact</a>
										</p>
									{% endif %}

							</div>

					</section> #}
				</main><!-- #main -->
		</div><!-- #primary -->
	</div><!-- #content -->
{% endblock %}