<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://use.typekit.net/pkg3bkv.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7203196/6234572/css/fonts.css" />
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<!-- START IMPORT PLUGIN STYLES -->
	{# <link rel="stylesheet" href="{{ theme.link }}/plugins/gravityforms/formsmain.css"> #}
	<!-- END IMPORT PLUGIN STYLES -->
	<link rel="stylesheet" href="{{ theme.link }}/static/scss/style.css?cachebust={{ csscache }}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css"/>
	{{ function('wp_head') }}
</head>

<body class="no-js {{body_class}}">

<script type="text/javascript">
	//<![CDATA[
	(function(){
		var c = document.body.classList;
		c.remove('no-js');
		c.add('js');
		c.add('hidden-scroll');
	})();
	//]]>
</script>

{% block main_menu %}
	<nav id="site-navigation" class="main-navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement" aria-label="Main navigation">
		<div class="wrap">
			
			{{ function('weare502_render_primary_menu') }}

			<div class="main-navigation__cta">
				<span class="main-navigation__label cta__text heading--light">Get in Touch:</span>
				<a href="{{ options.contact_page }}" class="button">Contact Us</a>
			</div>

			<div class="main-navigation__testimonial">
				<p class="inline-quote">" {{ options.menu_quote }}"</p>
				<span class="quote-credits">{{ options.menu_quote_source }}</span>
			</div>

			<div id="nav-footer__container">
				<div class="nav-footer__text">
					<a href="https://weare502.com/terms-of-use/">Terms of Use</a>
					<a href="https://weare502.com/privacy-policy/">Privacy Policy</a>
				</div>
				<div class="nav-footer__icons">
					<a href="https://www.facebook.com/502Agency/"><img src="{{ theme.link }}/static/images/Shape.svg" alt="502 Facebook Profile"></a>
					<a href="https://www.instagram.com/weare502/?hl=en"><img src="{{ theme.link }}/static/images/Instagram.svg" alt="502 Instagram Profile"></a>
					<a href="https://www.linkedin.com/company/weare502"><img src="{{ theme.link }}/static/images/linkedin.svg" alt="502 Linkedin Profile"></a>
				</div>
			</div><!-- /#nav-footer__container -->

			{# <div class="main-navigation__info-block">
				<div class="info-block__row">
					<span class="main-navigation__label">Office Address:</span>
					<span class="info-block__value"> 121 S. 4th Street, Suite 209<br>Manhattan, Ks 66502</span>
				</div>

				<div class="info-block__row info-block__row--last">
					<span class="main-navigation__label">Call Us At:</span>
					<span class="info-block__value">(785) 320-6621</span>
				</div>
			</div> #}
		</div>
	</nav>
{% endblock %}

<div id="page" class="site {{ page_class }}">

	<a class="skip-link screen-reader-text" href="#content">Skip Links</a>

	<div class="hero" style="background-image: url('{{ TimberImage(hero_image).src('xlarge') }}');">
		<div class="hero__wrap {{ hero_wrap_class }}">
			<header id="masthead" class="site-header">
				<div class="site-header__wrap">
					<div class="site-branding">
						<a href="/" class="custom-logo-link" rel="home" itemprop="url">
							{% if is_front_page %}
								<img src="{{ theme.link }}/static/images/502-logo-clear.svg" class="custom-logo" alt="502 Media Logo" itemprop="logo" style="box-shadow: none;">
							{% else %}
								<img src="{{ theme.link }}/static/images/502-logo-orange.svg" alt="502 Media Logo" class="custom-logo" itemprop="logo">
							{% endif %}
						</a>
						<p class="site-title"><a href="#" rel="home">502 Media Group</a></p>
						<p class="site-description">Indescribably Awesome</p>
					</div><!-- .site-branding -->
					<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu<span></span></button>
				</div>
			</header><!-- #masthead -->
			 {% block home_content %}
			 {% endblock %}
			 {% block page_header %}
			 {% endblock %}
	 </div>
 </div>
{% block content %}

{% endblock %}

{% block footer %}
<footer id="colophon" class="site-footer">

	<div class="footer__wrap">

		<div class="footer__block footer__block--left">
			<div class="footer__block-wrapper">
				<h4 class="heading heading--light">Back To:</h4>
				<a class="button" href="#" onclick="history.back(-1)">Previous Page</a>
			</div>
		</div>

		<div class="footer__block footer__block--right">
			<div class="footer__block-wrapper">
				<h4 class="heading heading--light">{{ options.footer_cta_text }}</h4>
				<a class="button" href="{{ options.footer_link }}">{{ options.footer_link_button_text }}</a>
			</div>
		</div>

	</div><!-- .footer__wrap -->

	<div class="footer-contact text-align--center">
		<img src="{{ theme.link }}/static/images/502-logo-orange.png" class="footer-logo" />
		<div class="footer-tagline">A Strategic Marketing Agency</div>
		<div class="text-align--center footer-contact__info">
			103 N. 3rd St. 
			<span class="vertical-sep"></span> 
			Manhattan, Kansas 66502 
			<span class="vertical-sep"></span> 
			<a href="tel:7853206621">785.320.6621</a>
		</div>
	</div>

	<a href="/contact-us" id="get-in-touch" class="flex-container">
		<div class="get-in-touch__text">
			<h5 class="heading heading--orange">Let's Get In Touch</h5>
			<p>We Would Love To Hear Your Story</p>
		</div>
		<div class="get-in-touch__image"></div>
	</a>
</footer><!-- #colophon -->
{% endblock %}
</div><!-- #page -->

{# <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> #}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="{{ theme.link }}/static/js/jquery.fitvids.js?cachebust={{ jscache }}"></script>
<script type="text/javascript" src="{{ theme.link }}/static/js/typed.min.js?cachebust={{ jscache }}"></script>
<script type="text/javascript" src="{{ theme.link }}/static/js/site.js?cachebust={{ jscache }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
{{ function('wp_footer') }}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
// Insert Your Facebook Pixel ID below. 
fbq('init', "292146644306199");
fbq('track', 'PageView');
</script>
<!-- Insert Your Facebook Pixel ID below. --> 
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=292146644306199&amp;ev=PageView&amp;noscript=1"></noscript>
<!-- End Facebook Pixel Code -->
<!-- Hotjar Tracking Code for https://www.weare502.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:670201,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- pixel scout -->
<script type="text/javascript">var ssaUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.sitescout.com/iap/18e74e038227b7fb';new Image().src = ssaUrl; (function(d) { var syncUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.sitescout.com/dmp/asyncPixelSync'; var iframe = d.createElement('iframe'); (iframe.frameElement || iframe).style.cssText = "width: 0; height: 0; border: 0;"; iframe.src = "javascript:false"; d.body.appendChild(iframe); var doc = iframe.contentWindow.document; doc.open().write('<body onload="window.location.href=\''+syncUrl+'\'">'); doc.close(); })(document); </script>

<!-- hide sitescout injected iframe - causes white bar below page -->
<style type="text/css">
	/* Target iframe with src="javascript:false" ONLY */
	iframe[src="javascript:false"] {
		display: none;
	}
	
	iframe[src="javascript:false"] img[width="1"][height="1"] {
		display: none;
	}
</style>
</body>
</html>
