{% extends 'base.twig' %}

{% set page_class = "blog" %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
		<h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
		<p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %}

{% block content %}
	 <div id="content" class="site-content sidebar--left clearfix">
	<div id="primary" class="content-area">

		<main id="main" class="site-main column-count--2">
			{% for post in posts %}
				<article class="entry {{ loop.index > 4 ? 'hidden' : '' }}" itemscope="" itemtype="https://schema.org/CreativeWork" 
					data-author="{{ post.author.display_name }}"
					data-category="{{ post.category }}">
					{% set image = TimberImage(post.thumbnail) %}
					<img src="{{ image.src('large') }}" class="alignnone" alt="{{ image.alt }}"/>
					<header class="entry-header">
						<h2 class="entry-title heading heading--separator-after">
							<a href="{{ post.link }}" class="link--inverted" rel="bookmark">{{ post.title }}</a>
						</h2>
					</header><!-- .entry-header -->

					<div class="entry-content">
						<p>{{ post.preview.length(50).read_more(false) }} <a href="{{ post.link }}" class="more-link read-more-link">Read More</a></p>
					</div><!-- .entry-content -->
				</article>
			{% endfor %}

		</main><!-- #main -->

		<div class="archive-pagination pagination text-align--center">
			<button class="button button--outline" id="view-all-posts-button">View All Posts</button>
		</div>

	</div><!-- #primary -->

	<aside id="secondary" class="widget-area">

		<section class="widget" id="blog-categories">
			<h3 class="heading font-size--4">Categories</h3>
			<ul>
				<li>
					<a href="#" class="link--inverted current-item">All</a>
				</li>
				{% for cat in categories %}
					<li>
						<a href="#" class="link--inverted">{{ cat.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		{# <section class="widget" id="blog-authors">
			<h3 class="heading font-size--4">Author</h3>
			<ul>
				<li>
					<a href="#" class="link--inverted">All Authors</a>
				</li>
				{% for author in authors %}
					<li>
						<a href="#" class="link--inverted">{{ author.display_name }}</a>
					</li>
				{% endfor %}
			</ul>
		</section> #}
	</aside><!-- #secondary -->
</div><!-- #content -->
{% endblock %}