{% extends 'base.twig' %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
		<h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
		<p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
			<article class="entry" itemscope="" itemtype="https://schema.org/CreativeWork">
				<div class="entry-content" itemprop="text">
					{{ post.content }}

					{{ function('gravity_form', post.get_field('form').id, false, false ) }}
				</div>
			</article>
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}

{% block footer %}
{% endblock %}