{% extends 'base.twig' %}

{% block home_content %}
	<nav class="front-page__nav flex-container">
		{# {{ function( 'weare502_render_home_menu' ) }} #}
		<div class="nav-menu menu inline-flex-container flex-container--wrap">
			<div class="menu-item">It's Time to Get</div>
			<div class="menu-item" id="typewriter"></div>
			<div class="menu-item">With Your Marketing.</div>
			<div style="flex: 1 0 100%;"><a class="button open-menu" href="#">We Can Help</a></div>
		</div>
	</nav>
{% endblock %}

{% block footer %}
	<div class="text-align--center home-footer">
		103 N. 3rd St.
		<span class="vertical-sep"></span> 
		Manhattan, Kansas 66502 
		<span class="vertical-sep"></span> 
		<a href="tel:7853206621">785.320.6621</a>
	</div>
{% endblock %}