{% extends 'base.twig' %}

{% set page_class = 'testimonials full-width' %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
		<h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
		<p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
		  {#  <section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">
			   <div class="section__wrap section__wrap--wide">
				   <img class="alignleft industry__image" src="{{ TimberImage( post.get_field('office_photo') ).src('large') }}" alt="TimberImage( post.get_field('office_photo') ).alt"/>
				   <div class="industries-wrap">
					   <h2 class="heading font-size--4">Our Industries</h2>
					   {{ post.get_field('our_industries') }}
					   <ul class="industry__list flex-container flex-container--wrap">
						   <li class="industry__wrap flex-container flex-column">
							   <img class="aligncenter" src="{{ theme.link }}/static/images/industries-agriculture.png" alt="Agriculture"/>
							   <h3 class="heading heading--orange">Agriculture</h3>
						   </li>
						   <li class="industry__wrap flex-container flex-column">
							   <img class="aligncenter" src="{{ theme.link }}/static/images/industries-travel.png" alt="Travel"/>
							   <h3 class="heading heading--orange">Travel</h3>
						   </li>
						   <li class="industry__wrap flex-container flex-column">
							   <img class="aligncenter" src="{{ theme.link }}/static/images/industries-non-profit.png" alt="Non-profit"/>
							   <h3 class="heading heading--orange">Non-profit</h3>
						   </li>
						   <li class="industry__wrap flex-container flex-column">
							   <img class="aligncenter" src="{{ theme.link }}/static/images/industries-education.png" alt="Education"/>
							   <h3 class="heading heading--orange">Education</h3>
						   </li>
						   <li class="industry__wrap flex-container flex-column">
							   <img class="aligncenter" src="{{ theme.link }}/static/images/industries-retail.png" alt="Retail"/>
							   <h3 class="heading heading--orange">Retail</h3>
						   </li>
					   </ul>
					</div>
			   </div>
		   </section> #}
		   <div class="testimonials__wrap">
			   {% for testimonial in post.get_field('testimonials') %}
				   {% if loop.first %}
						   <section class="section--testimonial-bg background-image--box-shadow margin-bottom--0" style="background-image:url('{{ TimberImage(testimonial.bg_image).src('xlarge') }}');" itemscope="" itemtype="https://schema.org/CreativeWork">
							   <div class="testimonials__block--right testimonials-slider__testimonial-quote">
								   <h3 class="heading heading--separator-after">“{{ testimonial.quote }}”</h3>
								   <span class="quote-credits color--orange">{{ testimonial.source }}</span>
								   {% if testimonial.project_link %}
									  <div class="margin-top--6">
										 <a href="{{ testimonial.project_link }}" class="button button--outline">View Project</a>
									  </div>
								   {% endif %}
							   </div>
						   </section>
					{% elseif not loop.index % 2 %}
					   <section class="section--half-width section--background-image--right" style="background-image:url('{{ TimberImage(testimonial.bg_image).src('xlarge') }}');" itemscope="" itemtype="https://schema.org/CreativeWork">
						   <div class="section__wrap">
							   <div class="testimonials-slider__testimonial-quote">
								   <h3 class="heading heading--separator-after">“{{ testimonial.quote }}”</h3>
								   <span class="quote-credits color--orange">{{ testimonial.source }}</span>
								   {% if testimonial.project_link %}
								   <div class="margin-top--6">
									   <a href="{{ testimonial.project_link }}" class="button button--outline">View Project</a>
								   </div>
								   {% endif %}
							   </div>
						   </div>
					   </section>
					{% else %}
					   <section class="section--testimonial-bg background-image--box-shadow margin-bottom--0" style="background-image:url('{{ TimberImage(testimonial.bg_image).src('xlarge') }}');" itemscope="" itemtype="https://schema.org/CreativeWork">
						   <div class="testimonials__block--right testimonials-slider__testimonial-quote">
							   <h3 class="heading heading--separator-after">“{{ testimonial.quote }}”</h3>
							   <span class="quote-credits color--orange">{{ testimonial.source }}</span>
							   {% if testimonial.project_link %}
								  <div class="margin-top--6">
									 <a href="{{ testimonial.project_link }}" class="button button--outline">View Project</a>
								  </div>
							   {% endif %}
						   </div>
					   </section>
					{% endif %}
			   {% endfor %}
			</div>

		   {# <section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">
			   <div class="section__wrap section__wrap--wide">
				   <div class="grid grid--2 grid-gutter--30 testimonials__project-grid">
					   <div class="entry grid__item" style="background-image:url('{{ theme.link }}/static/images/passion-projects-bg.jpg');">
						   <div class="project__wrap">
							   <h3 class="heading heading--main heading--orange heading--separator-after font-size--4">
								   Passion Projects</h3>
							   <p class="text-align--center">Here at 502, we are always creating and working on new things internally in order to help the community, bolster our skills, or create something new and innovative. Take a sneak peak of what we are currently working on!</p>
							   <p class="text-align--center">
								   <a href="{{ post.get_field('passion_projects_link') }}" class="button">Learn More</a>
							   </p>
						   </div>
					   </div>
					   <div class="entry grid__item" style="background-image:url('{{ theme.link }}/static/images/502-podcast-bg.jpg');">
						   <div class="project__wrap project__wrap--right">
							   <img class="alignnone" src="{{ theme.link }}/static/images/502-podcast-logo.png" alt="502 Podcast"/>
							   <p>
								   <a href="{{ post.get_field('podcast_link') }}" class="button">Listen Now</a>
							   </p>
						   </div>
					   </div>
				   </div>
			   </div>
		   </section> #}
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}