{% extends 'base.twig' %}

{% set page_class = 'full-width staff-interior' %}

{# {% block page_header %}
	<header class="entry-header entry-header--boxed">
		<h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
		<p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %} #}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
		   <section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">
				<div class="section__wrap section__wrap--wide">
					<header class="entry-header">
						<h1 class="heading heading--main heading--separator-after" itemprop="headline">Meet {{ post.get_field('full_name') }}</h1>
					</header>
					<div class="width--70 margin-bottom--6">
						{{ post.get_field('intro_paragraph') }}
					</div>
				</div>
				</section>
				<section class="section--full-width fun-facts section--background-image background-image--box-shadow" style="background-image:url('/static/images/work-interior-background.png');" itemscope="" itemtype="https://schema.org/CreativeWork">
				<div class="section__wrap">
				   <h2 class="heading heading--separator-after font-size--3">Fun Facts / Biography</h2>
				   <img class="alignright" src="{{ TimberImage( post.get_field('fun_facts_image' ) ).src('large')|resize(600) }}" alt="{{ TimberImage( post.get_field('fun_facts_image' ) ).alt }}"/>
				   {{ post.get_field('fun_facts') }}
				</div>
				</section>
			{% if authored_posts %}
				<section class="section--full-width" itemscope="" itemtype="https://schema.org/CreativeWork">
					<div class="section__wrap section__wrap--wide">
					   <h2 class="heading heading--main heading--separator-after font-size--3">Authored Blog Posts</h2>
					   <p class="width--65">Here at 502, we live and breath stories and have even written a few of our own!
						   Below you will find authored blog posts curated by {{ post.get_field('full_name') }}.</p>
					   <div class="grid grid--2 grid-gutter--30 grid--post-links">
					   	{% for bpost in authored_posts %}
						   <a class="entry grid__item post-link--bg-image" href="{{ bpost.link }}" style="background-image:url('{{ TimberImage( bpost.thumbnail ).src('large') }}');">
							   <h3 class="heading heading--light heading--separator-after--white post-title font-size--4">{{ bpost.title }}</h3>
							   <span class="post-term font-size--2">{{ bpost.category }}</span>
						   </a>
						{% endfor %}
					   </div>
					   <p class="text-align--center">
						   <a class="button button--outline" href="{{ blog_url }}">View All Blog Posts</a>
					   </p>
					</div>
			   </section>
			{% endif %}
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}