{% extends 'base.twig' %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
	    <h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
	    <p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	    <div class="entry-meta">
					<span class="fancy">Written by:</span> {{ post.author.display_name }}<br>
					<span class="fancy">Posted In:</span> {{ post.category }}
	        	</div>
	</header>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
	    <main id="main" class="site-main">
	        <article class="entry" itemscope="" itemtype="https://schema.org/CreativeWork">
	            <div class="entry-content width--70" itemprop="text">
	            	{{ post.content }}
	            </div>

	            <div class="width--70 about-author">
	            	<h5 class="social-text"> Share On: </h5>
	            	<a href="https://www.facebook.com/sharer/sharer.php?u="><span class="fa fa-facebook fa-lg" title="Share on Facebook!" aria-hidden="true"></span></a>

	            	<a href="https://www.instagram.com/weare502/"><span class="fa fa-instagram fa-lg" title="Follow on Instagram!" aria-hidden="true"></span></a>

	            	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"><span class="fa fa-twitter fa-lg" title="Share on Twitter!" aria-hidden="true"></span></a>

	            	<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true"><span class="fa fa-pinterest fa-lg" title="Pin this article on Pinterest!" aria-hidden="true"></span></a>
	            	<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
	            	<span class="hr-rule"></span>

	            	<div class="author-bio">
		            	<a href="/staff/{{ post.author.first_name }}"><img src="{{ theme.link }}/static/images/{{ post.author.first_name }}.png" alt="{{ post.author.name }}"></a>
			            <h5 class="keep-align">About {{ post.author.name }}</h5>
			            <p class="mobile-push-down"> {{ post.author.description }}.. <a class="learn-more" href="/staff/{{ post.author.first_name }}">Learn more</a></p>
			        </div>

		        </div> <!-- /.about-author -->
	        </article>
	    </main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}