{% extends 'base.twig' %}
{% set page_class = 'our-story' %}

{% block page_header %}
	<header class="entry-header">
	    <h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
	    <p class="entry-subtitle entry-subtitle--light" itemprop="subtitle">{{ post.tagline }}</p>
	</header>
	<a href="#main" class="hero__scroll-indicator scroll-to">
	    <span class="scroll-indicator__text">Scroll</span>
	    <span class="scroll-indicator__arrow"></span>
	</a>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
	    <main id="main" class="site-main">
	       <article class="entry" itemscope="" itemtype="https://schema.org/CreativeWork">
	           <div class="entry-content" itemprop="text">
	           		{{ post.content }}
	               <hr>
	               <h2 class="heading call-out color--orange">Ditch the never-ending busy work and focus on work that matters. Let’s create something bigger
	                   than ourselves, together.</h2>
	           </div>
	       </article>
	    </main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}