{% extends 'base.twig' %}
{% set page_class = 'our-work' %}
{% block page_header %}
	<header class="entry-header entry-header--boxed">
	    <h1 class="entry-title heading heading--light" itemprop="headline">{{ post.title }}</h1>
	    <p class="entry-subtitle entry-subtitle--light" itemprop="tagline">{{ post.tagline }}</p>
	</header>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
	    <main id="main" class="site-main">
	        <!-- <nav class="our-work__nav flex-container flex-container--wrap align-items--center" itemscope="" itemtype="https://schema.org/SiteNavigationElement" aria-label="Our Work navigation">
                <h3 class="heading">Categories:</h3>
                <ul class="inline-list" id="isotope-filters">
                    {# <li class="menu-item">
                        <a href="#" class="button--current-item" data-filter=".masonry-grid__grid-item">All</a>
                    </li> #}
                    <li class="menu-item">
                        <a href="#" class="" data-filter=".branding">Branding &amp; Identity Design</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="" data-filter=".ecommerce">eCommerce</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="" data-filter=".marketing-automation">Marketing Strategy &amp; Automation</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="" data-filter=".web">Website &amp; UX Design</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="" data-filter=".branded-content-creation">Branded Content Creation</a>
                    </li>
                </ul>
            </nav> -->

            <section class="our-work__brands masonry-grid" itemscope="" itemtype="https://schema.org/CreativeWork">
				{% for item in work %}
	                <a href="{{ item.link }}" class="masonry-grid__grid-item {{ item.get_field('work_type')|join(' ') }}"><img src="{{ TimberImage( item.get_field('filter_image') ).src('large') }}" alt="{{ TimberImage( item.get_field('filter_image') ).alt }}">
                        <div class="work-grid-info-wrapper">
                            <div class="work-grid-title heading heading--light font-size--4">{{ item.title }}</div>
                            {% if item.post_excerpt %}<div class="work-grid-excerpt">{{ item.post_excerpt }}</div>{% endif %}
                            <div class="work-grid-learn-more">Learn More</div>
                        </div>
                    </a>
				{% endfor %}
            </section>
	    </main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}