@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-.5rem);
	}
	// 100% {
	// 	transform: translateY(.5rem);
	// }
}


@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.hidden-scroll {
	.grid__item, 
	.entry-header--boxed, 
	.section--testimonials-slider, 
	.masonry-grid__grid-item, 
	.footer__block--left, 
	.footer__block--right, 
	.footer-contact,
	.custom-logo, 
	button.menu-toggle,
	.industry__image, 
	.industries-wrap, 
	.testimonials__wrap section, 
	.reveal-slide-in-right, 
	.reveal-slide-in-bottom, 
	.reveal-slide-in-left, 
	.contact-form .gfield {
		visibility: hidden;
	}
}