hr {
  background: #E3502D;
  border: none;
  color: #E3502D;
  height: 1px;
  margin: 4rem auto 6rem;
  min-width: 24rem;
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;  
}

.giphy-embed {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 2.4rem;
}

img.alignnone,
.alignnone {
  margin-bottom: 1.2rem;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 2.4rem 2.4rem 2.4rem 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 2.4rem 0 2.4rem 2.4rem;
}

.gallery-caption,
.wp-caption-text {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 2.8rem;
}

.flex-item {
  min-width: 240px;

  p:last-of-type {
    margin-bottom: 1rem;
  }

  &--two-thirds {
    flex: 1 1 66%;
  }

  &--one-half {
    flex: 1 1 50%;
  }

  &--one-third {
    flex: 1 1 33%;
  }
}

.fixed-height {
  &--100 {
    height: 10rem;
  }
}

.margin-bottom {
  &--0 {
    margin-bottom: 0;
  }
  &--6 {
    margin-bottom: 6rem;
  }
}

.margin-top {
  &--6 {
    margin-top: 6rem;
  }
}

.staff-profile {
  color: #fff;
  display: block;
  position: relative;

  &__info {
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8%;
    position: absolute;
  }

  &__name {
    font-family: $font-didot;
    font-style: italic;
    font-size: 3rem;
    @include breakpoint('lg'){
      font-size: 5rem;
    }
  }

  &__role {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    max-width: 250px;
    text-transform: uppercase;
  }
}

.our-space {
  &--large {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

.testimonials-slider {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 8% 8%;
}

.testimonials-slider__testimonial-quote {
  margin-left: auto;
  max-width: 60%;
  width: 720px;

  @include breakpoint('lg'){
    max-width: 80%;    
  }

  &.quote-credits {
    font-family: $font-didot;
    text-transform: none;
  }
  
  .heading {
    font-size: 3.6rem;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    margin-bottom: 4rem;
    font-family: $font-freight-sans;

    @include breakpoint('lg'){
      font-size: 1.6rem;  
      line-height: 1.5em;
    }

    &::after {
      margin-left: 0;
    }
  }
}

.slick-slider {

  .slick-active {
    outline: none;
  }

  .slick-prev,
  .slick-next {
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 0;
    min-width: 0;
    padding: 3.6rem 2.5rem;

    &:before {
      border: 4px solid $color-orange;
      border-left: none;
      border-top: none;
      content: ' ';
      height: 3rem;
      left: 0;
      position: absolute;
      top: calc(50% - 1.5rem);
      width: 3rem;
    }
  }

 .slick-prev {
   left: 3%;

   @include breakpoint('sm'){
     left: 3%;
   }

   &:before {
     left: 1.5rem;
     transform: rotate(135deg);
   }
 }

 .slick-next {
   right: 3%;

   @include breakpoint('sm'){
     right: 3%;
   }

   &:before {
     transform: rotate(-45deg);
   }
 }
}

.testimonials__block--right {
  background: #fff;
  margin: 0 0 0 auto;
  max-width: 95%;
  padding: 6rem;
  width: 760px;
}

.fun-facts {
  img {

    @include breakpoint(560px) {
      max-width: 70%;
    }

    @include breakpoint('md') {
      margin-top: -6rem;
    }
  }
}

.archive-pagination {
  margin: 5rem auto;
}

.section--values {
  .value__wrap {
    margin-top: auto;
    padding: 5rem;

    .heading {
      padding-left: 3.5rem;
      text-indent: -3.5rem;
    }

    p {
      color: $color-black;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin-left: 3.5rem;
      text-transform: uppercase;

      @include breakpoint('sm') {
        margin-left: 4.5rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

#value {
  &-1 {
    .value__wrap {
      background: #fff;
      margin-left: auto;
    }
  }

  &-2 {
    .value__wrap {
      margin-bottom: auto;
      margin-left: 20%;
      max-width: 700px;
    }
  }

  &-3 {
    .value__wrap {
      margin: 160px 0 auto auto;
      max-width: 700px;

      @include breakpoint(940px) {
        margin: 130px 10% auto auto;
      }

      @include breakpoint('lg') {
        margin: 130px 20% auto auto;
      }

      p {
        color: #fff;
      }
    }
  }

  &-4 {
    .value__wrap {
      background-color: $color-orange;
      margin-left: auto;
      max-width: 95%;
      width: 900px;

      p {
        color: #fff;
      }
    }
  }

  &-5 {
    position: relative;
    max-height: 810px;
    min-height: 800px;

    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      display: none;

      @include breakpoint('lg'){
        display: block;
      }
    }
    .value__wrap {
      padding: 0 8%;
      margin-bottom: auto;

      @include breakpoint('lg') {
        align-items: center;
        display: flex;
        justify-content: flex-start;
      }

      @include breakpoint('sm'){
        margin-bottom: 0;
      }
      
      .heading {
        flex: 1 1 100px;
        margin: 0 3rem 3rem 0;
        position: relative;

        @include breakpoint('sm') {
          white-space: pre;
        }

        @include breakpoint('lg') {
          margin-bottom: 0;

          &::after {
            content: ' ';
            height: 8rem;
            position: absolute;
            right: -32px;
            top: 0;
            width: 1px;
            border-right: 1px solid #fff;
          }
        }
      }
    }

    p {
      color: #fff;
      margin: 0 0 0 3rem;
    }
  }

  &-6 {
    background-position: -240px;

    @include breakpoint('md') {
      background-position: left;
    }


    .value__wrap {
      margin: auto 8% auto auto;
    }
  }

  &-7 {
    background-position: right;
    position: relative;
    min-height: 775px;

    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      display: none;

      @include breakpoint('lg'){
        display: block;
      }
    }

    .value__wrap {
      margin: 12% 8% auto auto;
      max-width: 95%;
      width: 650px;
      background: rgba($color-black, .3);

      p {
        color: $color-white;
        text-shadow: 0 1px $color-black;
      }

      @include breakpoint('md') {
        margin-top: 8%;
      }
    }
  }
}



.industry {

  &__image.alignleft {
    margin: 0 3rem 2rem 0;
    width: calc(50% - 3rem);

    @include breakpoint('sm') {
      margin: 0 6rem 4rem 0;
    }
  }

  &__list {
    padding-left: 0;
    justify-content: space-around;
  }

  &__wrap {
    align-items: center;
    flex: 1 1 100px;
    justify-content: space-between;
    margin-bottom: 3rem;

    img {
      margin-top: auto;
    }
  }
}

.testimonials__project-grid {
  .grid__item {
    align-items: center;
    background: $color-gray no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 6rem;
  }

  .project__wrap {
    max-width: 380px;
    margin: 0 auto;

    p:last-of-type {
      margin: 4rem auto 0;
    }

    &--right {
      margin: 0 0 0 auto;
    }
  }
}

.testimonials__wrap {
  .heading {
    font-family: $font-freight-sans;
  }
  .quote-credits {
    font-family: $font-didot;
    text-transform: none;
  }
}

.blog .site-content {
  .entry-title {
    a {
      text-decoration: none;
    }
  }
}

.single-work {
  video {
    background: $color-white;
  }
}

.about-author {
  padding-top: 4rem;

  img {
    float: left;
    margin-right: 4rem;
    // border-radius: 50%;
  }

  p {
    width: 80%;
    
    @include breakpoint(xs) {
      width: 100%;
    }
  }
}

.hr-rule {
  display: block;
  background: $color-black;
  height: 1px;
  width: 100%;
  margin: 3.5rem auto;
}

.social-text, .keep-align {
  display: inline;
  font-size: 2rem;
}

.social-text {
    padding-right: 0.8rem;
    padding-left: 1.2rem;
}

.keep-align {
  display: block;
  padding-top: 2.2rem;
  margin-bottom: 0.2rem;

  @include breakpoint(md) {
    padding-top: 1rem;
  }
}

// push text down from image on mobile
.mobile-push-down {
  display: inline-block;
  padding-top: 2rem;

  @include breakpoint(md) {
    display: inline;
    padding-top: 0;
  }
}

.fa {
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint (sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.fa-facebook {
  color: $facebook-color;
}

.fa-instagram {
  color: $instagram-color;
}

.fa-twitter {
  color: $twitter-color;
}

.fa-pinterest {
  color: $pinterest-color;

  &:hover { 
    cursor: pointer;
  }
}

.author-bio {
  max-width: 100%;

  @include breakpoint(md) {
    max-width: 70%;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.vertical-sep {
  width: 1px;
  height: 3rem;
  display: inline-block;
  margin: 0 2rem;
  background: $color-white;
  vertical-align: middle;
}


.page-template-work-template {
  .masonry-grid__grid-item {
    width: 100%;
    @include breakpoint('500px'){
      width: calc(50% - 15px);
    }
  }
}

.work-grid-info-wrapper {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  padding-right: 4rem;

  .work-grid-title {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .work-grid-excerpt {
    border-left: 1px solid $color-white;
    padding-left: 2rem;
    color: $color-white;
    line-height: 1;
    margin: 2rem 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    max-width: 34rem;
  }

  .work-grid-learn-more {
    text-transform: uppercase;
    color: $color-white;
    font-weight: bold;
    margin-left: 2rem;
  }
}