.hero {
  .entry-header {
    max-width: 68.0rem;
    padding: 0 1%;

    // keeps the right edge off on mobile headers
    @include breakpoint (sm) {
      position: relative;
      right: 4px;
    }

    // .testimonials & {
    //   // max-width: none;

    //   .entry-title {
    //     text-align: center;

    //     &::after {
    //       border-top: 2px solid #fff;
    //       margin: 20px auto 0;
    //     }
    //   }
    // }

    .our-story & {
      margin-top: 15.0rem;
    }

    &--boxed {
      background: $color-orange;
      margin: 0 -3.5% 0 auto;
      padding: 5.3rem 7.5rem;
    }
  }
}

.entry-subtitle {
  font-size: 2.4rem;
  margin-bottom: 0;
  text-transform: uppercase;

  .our-story & {
    margin: 0 0 10.0rem 6.0rem;
  }

  // .testimonials & {
  //   font-weight: 600;
  //   margin: 4rem auto 8rem;
  //   margin-bottom: 0;
  //   max-width: 940px;
  //   // text-align: center;
  // }

  .entry-header--boxed & {
    font-size: 2rem;
    font-weight: 600;
  }
}

.entry-title,
.entry-subtitle {

  &--light {
    color: $color-white;
  }
}

.entry-title {
  .our-story .hero & {

    font-size: 7.0rem;
    font-weight: bold;
    padding: 0 0 3.0rem 0;
    position: relative;

    @include breakpoint('sm') {
      font-size: 10.0rem;
      padding: 0 0 7.0rem 0;
    }

    &::after {
      border-bottom: 2px solid #fff;
      bottom: 0;
      content: ' ';
      display: inline-block;
      left: 10%;
      position: absolute;
      width: 18.0rem;

      @include breakpoint('sm') {
        left: 18.0rem;
        width: 28.0rem;
      }
    }
  }

  .entry-header--boxed & {
    font-size: 4.8rem;
    font-weight: normal;
    padding: 0;
  }

  .blog .content-area & {
    font-size: 3.2rem;
  }
}

.hero .entry-header--boxed {
  box-shadow: $hero-shadow;
}

.entry {
  //padding-top: 8rem;

  .our-story & {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 3%;

    @include breakpoint(780px) {
      padding: 0;
    }
  }

  &.post-link--bg-image {
    background-color: $color-orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30% 4rem 6rem;
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.25);
      z-index: -1;
    }
  }

  .post-term {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.entry-meta {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;

  .fancy {
    font-family: $font-didot;
    text-transform: none;
  }
}
