.site-footer {
  clear: both;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 6.4rem;
}

.footer__block {
  align-items: center;
  display: flex;
  justify-content: center;

  h4 {
    font-size: 4rem;
    text-transform: none;
  }

  &--left {
    background: url('../images/footer__block--left.jpg') no-repeat center;
    background-size: cover;
    flex: 1 1 15.0rem;
    min-width: 38.0rem;
    text-align: center;
  }

  &--right {
    background: url('../images/502-bg-graphic.jpg') no-repeat center;
    background-size: cover;
    flex: 2 1 60.0rem;
    order: -1;

    @include breakpoint('sm') {
      order: initial;
    }
  }

  &-wrapper {
    margin: 14.0rem 4.0rem;
  }
}

#get-in-touch {
  background: #fff;
  border-radius: 2.5rem;
  border-top-right-radius: 3.5em 50%;
  border-bottom-right-radius: 3.5em 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  bottom: 2rem;
  color: $color-black;
  font-size: 1.0rem;
  position: fixed;
  right: 2rem;
  transition: all 100ms linear;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .page-id-61 & {
    display: none;
  }

  @include breakpoint('sm') {
    font-size: 1.4rem;
  }
  
  &:hover,
  &:focus {
    text-decoration: none;
    transform: scale(1.05);
  }

  .heading {
    font-size: 2.5em;
    margin-bottom: 0;
  }
  
  p {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }

  .get-in-touch__text {
    margin: 1em 2em;
  }

  .get-in-touch__image {
    border: .5em solid $color-orange;
    border-radius: 50%;
    background: $color-gray url('../images/get-in-touch.png') no-repeat center;
    background-size: cover;
    height: 7em;
    width: 7em;
  }
}


.home-footer {
  color: $color-white;
  margin-top: -8rem;
  position: relative;
  z-index: 100;

  a {
    color: $color-white;
  }

  .vertical-sep {
    display: block;
    width: 0;
    height: 0;
  }

  @include breakpoint('sm'){
    .vertical-sep {
      display: inline-block;
      width: 1px;
      height: 3rem;
    }
  }
}

.footer-contact {
  color: $color-orange;
  margin-top: 4rem;

  .footer-logo {
    max-width: 14rem;
  }

  .footer-tagline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 0 3rem;
  }

  .vertical-sep {
    display: block;
    background: $color-orange;
    width: 0;
    height: 0;
  }

  @include breakpoint('sm'){
    .vertical-sep {
      display: inline-block;
      width: 1px;
      height: 3rem;
    }
  }
}