.contact-form, .gform_wrapper {

	ul.gform_fields {
		// display: flex !important;
		flex-wrap: wrap;

		*::placeholder {
			text-transform: uppercase;
			font-style: italic;
		}

		input,
		textarea {
			border-radius: 5px;
			border: 1px solid $color-gray;
		}

		input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
			padding: 1.5rem;
		}

		input[type='checkbox'] {
			margin-top: 0;
		}
	}

	.heading--main {
		margin-top: 6rem;
	}

	.gfield {
		flex: 1 1 100%;

		@include breakpoint(642px) {
			&.one-third {
				flex-basis: 33%;
			}

			&.one-half {
				flex-basis: 50%;
			}

			&.two-thirds {
				flex-basis: 66%;
			}
		}
	}

	.gform_footer {
		text-align: center;
	}
}

.gform_wrapper, .gform_wrapper .top_label {
	.fancy_checkbox {
		min-width: 99.5% !important;
		display: inline-flex !important;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4rem !important;
		max-width: 100%;

		@include breakpoint('sm'){
			min-width: 49.5% !important;
			max-width: 50%;
		}

		@include breakpoint('md'){
			min-width: 24.5% !important;
			max-width: 25%;
		}

		.gfield_fancy_checkbox_label {
			display: inline-flex !important;
			flex-direction: column;
			text-align: center;
			align-items: center;
			cursor: pointer;
				
			.field_label_text_wrapper {
				font-family: $font-didot;
				font-size: 4rem;
				line-height: 1;
				margin-top: 2rem;
			}

			.gfield_description {
				padding: 0;
				font-size: 2rem;
				font-weight: normal;
				max-width: 24rem;
				margin: 2rem 0;
				min-height: 8rem;
			}

			img {
				order: -1;
				max-width: 6rem;
				width: 100%;
				min-height: 10rem;
			}
		}
		div.ginput_container {
			display: inline-block;
			input {
				position: absolute; 
				overflow: hidden; 
				clip: rect(0 0 0 0); 
				height: 1px; width: 1px; 
				margin: -1px; padding: 0; border: 0; 
			}
			.fancy_checkbox_button {
				border: 1px solid;
				display: inline-block;
				text-align: center;
				min-width: 16rem;

				&:hover {
					background: $color-white;
					color: $color-orange;
				}

				.fancy_checkbox_button_text {
					&:before {
						content: 'Select';
						vertical-align: text-bottom;
						font-size: 1.6rem;
					}
				}
			}
			input:checked + .fancy_checkbox_button {
				background: $color-orange !important;
				color: $color-white !important;
				.fancy_checkbox_button_text {
					&:before {
						content: 'Selected';
					}
				}
			}
		}
	}
}