.site-header {
  margin-bottom: 5rem;
  margin-top: 2.2rem;

  &__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1%;
  }
}

.site-title,
.site-description {
  margin-bottom: 0;
  position: absolute;
  clip: rect(0,0,0,0);
  height: .1rem;
  width: .1rem;
  border: 0;
  overflow: hidden;
  line-height: 1;
}

.custom-logo {
  max-width: 9.6rem;
  height: 78px;
  @include breakpoint(sm) { height: 96px; }

  box-shadow: $shadow-settings;
}
