.hero {
  background: $color-orange-2 no-repeat center;
  background-size: cover;
  display: flex;
  position: relative;

  .home & {
    background: transparent;
  }

  &__wrap {
    flex: 1 1 20.0rem;
    margin: 0 auto;
    padding: 0 3% 10rem;

    .home & {
      height: 100vh;
    }

    .testimonials & {
      // padding-bottom: 2rem;
    }
  }

  &__scroll-indicator {
    align-items: baseline;
    background: rgba(200, 200, 200, 0.7);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    height: 10.0rem;
    justify-content: center;
    margin: 0 auto 4.2rem;
    text-decoration: none;
    width: 10.0rem;
    transition: all 200ms linear;
    animation: bounce 1.5s infinite;
    
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .our-story &::after {
    background: url('../images/Paper_Texture-v2.png');
    bottom: 0;
    content: ' ';
    display: block;
    height: 110px;
    position: absolute;
    width: 100%;
  }

  .our-work & {
    background-position: left;
    background-size: auto 100%;
    transition: all 100ms ease;
  }

  .staff-interior & {
    background-position-x: 40%;

    @include breakpoint('sm') {
      background-position: center center;
    }

    height: 45rem;
  }
}

.scroll-indicator {

  &__text {
    text-transform: uppercase;
    color: #fff;
    flex: 1 1 10.0rem;
    font-size: 1.4rem;
    margin-top: 2.6rem;
    text-align: center;
  }

  &__arrow {
    border-bottom: .4rem solid #fff;
    border-right: .4rem solid #fff;
    height: 2.5rem;
    margin-bottom: 2.5rem;
    transform: rotate(45deg);
    width: 2.5rem;
  }
}
