.site {
  transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1);

  .menu-activated & {
    transform: translateX(-80%);
    transition: all 0.4s cubic-bezier(0.68, 0, 0.29, 1);

    @include breakpoint('sm') {
      transform: translateX(-500px);
    }

    @include breakpoint('md') {
      transform: translateX(-700px);
    }
  }
}

button.menu-toggle {
  background: transparent;
  border-radius: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: $font-freight-sans;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  min-width: 0;
  padding: 1.0rem 1.0rem 2.0rem;
  position: relative;
  width: auto;
  

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }

  span {
    display: block;
    position: relative;
    height: .4rem;
    background: #fff;
    transition: background 0s .2s;
    width: 100%;
    margin-top: 1.0rem;
    border-radius: 0.05rem;

    &::after,
    &::before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: .4rem;
      background-color: #fff;
      border-radius: 0.05rem;
      content: " ";
    }

    &::before {
      top: -.9rem;
      transition: bottom .2s .2s, -webkit-transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s, -webkit-transform .2s 0s;
    }

    &::after {
      bottom: -.9rem;
      transition: bottom .2s .2s, -webkit-transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s;
      transition: bottom .2s .2s, transform .2s 0s, -webkit-transform .2s 0s;
    }
  }

  &.activated {
    span {
      background: 0 0;
      margin-top: 1.5rem;

      &::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: top .2s 0s, -webkit-transform .2s .2s;
        transition: top .2s 0s, transform .2s .2s;
        transition: top .2s 0s, transform .2s .2s, -webkit-transform .2s .2s;
      }

      &::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: bottom .2s 0s, -webkit-transform .2s .2s;
        transition: bottom .2s 0s, transform .2s .2s;
        transition: bottom .2s 0s, transform .2s .2s, -webkit-transform .2s .2s;
      }
    }
  }
}

body:not(.home) button.menu-toggle {
  width: 100%;
  background: $color-orange;
  padding: 0 3rem 2rem;
  max-width: 9.6rem;
  height: 9.6rem;
  position: relative;
  top: -3px;
  box-shadow: $shadow-settings;
}

.main-navigation {
  background: white;
  border-left: .5rem solid $color-orange;
  color: $color-black;
  max-height: calc(100% - 20rem);
  min-width: 240px;
  overflow: hidden;
  padding-bottom: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: -1;

  @include breakpoint('sm') {
    width: 500px;
  }

  @include breakpoint('md') {
    width: 700px;
  }

  .menu-activated & {
    max-height: 100vh;
    overflow-y: scroll;
    transition: z-index 1.5s;
    z-index: 1;
  }

  &__cta {
    align-items: center;
    background-size: cover;
    background: url('../images/502-bg-graphic.jpg') center no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 8.0rem 2.0rem 8.0rem 10%;
  }

  .menu-item,
  &__label {
    font-family: $font-didot;
    font-style: italic;
    font-size: 2.5rem;

    @include breakpoint('sm') {
      font-size: 2.5rem;
    }
  }

  &__info-block {
    margin-top: 4.0rem;
    padding: 2.0rem 10%;
  }

  &__testimonial {
    padding: 2.0rem 10%;
  }

  li.menu-item {
    display: flex;
    border-bottom: 1px solid $color-orange;
    margin-bottom: 2.0rem;

    a {
      color: $color-black;
      padding: 1.4rem 1.0rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-orange;
      }

      @include breakpoint('sm') {
        padding: 2.5rem 1.0rem;
      }
    }
  }
}

ul.nav-menu {
  list-style-type: none;
  padding: 0 10%;
  margin-bottom: 8%;
}

.cta__text {
  margin: 2.0rem 8% 2.0rem 0;
}

.info-block {

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6.0rem;

    .main-navigation__label {
      flex-basis: 28.0rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-orange;
    }
  }

  &__value {
    color: $color-gray;
    color: $color-black;
    font-family: $font-didot;
    font-size: 2.4rem;
    font-style: italic;
    line-height: 3.0rem;
    margin-top: 1.0rem;
  }
}

.main-navigation__testimonial {
  .quote-credits {
    font-family: $font-didot;
    text-transform: none;
    color: $color-orange;
  }
  .inline-quote {
    font-size: 2.2rem;
    line-height: normal;
    font-family: $font-freight-sans;
    color: $color-black;
    font-weight: normal;
    font-style: italic;

    @include breakpoint('sm') {
      font-size: 2.2rem;
      letter-spacing: 0.06rem;
      line-height: 1.5;
    }

    &::after {
      content: '';
      display: block;
      width: 10.0rem;
      height: .1rem;
      margin-top: 4.0rem;
      background: $color-orange;
    }
  }
}

.our-work__nav {
  margin: 6rem auto;
  display: none;

  @include breakpoint('xs') {
    display: flex;
  }

  .heading {
    font-size: 4rem;
    margin-right: 4rem;
  }

  .inline-list {
    align-items: center;
    flex-basis: 100%;

    @include breakpoint('sm') {
      justify-content: flex-end;
      flex-wrap: nowrap;
      flex-basis: 30rem;
    }

    .menu-item {
      text-align: center;
      flex: 0 1 18rem;
      margin: 2rem 2rem;
      position: relative;

      &:after {
        display: block;
        content: '';
        width: 1px;
        height: 6rem;
        background: $color-black;
        position: absolute;
        right: -2rem;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child:after {
        display: none;
      }
    }

    .menu-item a {
      color: $color-black;
      font-size: 2rem;
      display: inline-block;
      text-align: center;

      &.button--current-item {
        text-decoration: underline;
        background: none;

      }
    }
  }
}

.main-navigation {
  .menu-item > a {
    position: relative;
    min-width: 40%;
  }

  .menu-item > a span {
    transition: opacity 0.3s;
    transition-delay: 0.1s;
  }

  .menu-item > a:before {
    content: '';
    left: 1rem;
    opacity: 0;
    position: absolute;
    transition: opacity .3s, transform 0.3s;
  }

  /* :before */

  .menu-item > a:before {
    content: attr(data-hover);
    transform: translate(0, -150%);
  }

  // .menu-item > a:hover span,
  // .menu-item > a:focus span {
  //   opacity: 0;
  // }

  // .menu-item > a:hover:before,
  // .menu-item > a:focus:before {
  //   opacity: 1;
  //   transform: translate(0, 0);
  //   transition-delay: 0.3s;
  // }

  .menu-item > a:focus:before {
    //-webkit-transform: translate(-150%,0);
    //-moz-transform: translate(-150%,0);
    //-ms-transform: translate(-150%,0);
    //-o-transform: translate(-150%,0);
    //transform: translate(-150%,0);
    //-webkit-transition-delay: 0s;
    //-moz-transition-delay: 0s;
    //-o-transition-delay: 0s;
    //transition-delay: 0s;
  }
}

.front-page__nav {
  flex: 1 1 160px;
  text-align: center;
  align-items: center;

  .nav-menu {
    max-width: 940px;
    padding: 0 3%;
    margin: 0 auto;
    justify-content: center;
  }

  .open-menu {
    margin-top: 4rem;
  }

  .menu-item, .typed-cursor {
    color: #fff;
    font-family: $font-didot;
    font-size: 3.2rem;
    font-style: italic;
    margin-right: 2%;

    @include breakpoint('sm') {
      font-size: 4.2rem;
    }

    @include breakpoint('md') {
      font-size: 6.4rem;
    }

    a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      &::after {
          content: '';
          display: block;
          width: 0;
          height: 8px;
          top: -12px;
          position: relative;
          background: #FFF;
          transition: width .3s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  .typed-cursor {
    position: relative;
    left: -2%;
    font-size: 4rem;
    line-height: 1;

    @include breakpoint('sm'){
      font-size: 6rem;
    } 
    @include breakpoint('md'){
      font-size: 8rem;
    } 
  }
}

.typed-cursor {
  animation: blink 1000ms infinite;
}

/* footer within nav  [nav-footer__]  */
#nav-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 10%;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include breakpoint(lg) {
    padding: 7rem 10%;
  }
}

.nav-footer__text {
  @include breakpoint(md) {
    margin-top: 4rem;
  }
}

.nav-footer__text a {
  padding: 0.3rem;
  margin-right: 2.2rem;
}

.nav-footer__icons {
  margin-top: 4rem;

  a {
    padding: 0.4rem;
    margin-right: 5rem;

    &:hover {
      opacity: 0.4;
    }
  }
}
