html {
  overflow: auto;

  &.menu-activated {
    overflow: hidden;
  }
}

.site {
  overflow: hidden; // explicit over html auto ^
}

body {
  background: #fff;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  padding-bottom: 10rem;
  position: relative;

 .fl-builder-edit  &.fl-builder-edit {
    overflow-x: hidden !important;
    overflow-y: visible !important;
    position: relative !important;
  }

  &.menu-activated {
    overflow: hidden;
  }

  &.body--full-width {
    max-width: none;
  }

  &.home {
    padding-bottom: 0;
    max-width: 100%;

    .site {
      height: 100vh;

      // See https://www.gradient-animator.com/
      background: linear-gradient(267deg, #dd9a42, #e6502d);
      background-size: 400% 400%;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;

      @-webkit-keyframes AnimationName {
        0%{background-position:0% 67%}
        50%{background-position:100% 34%}
        100%{background-position:0% 67%}
      }
      @-moz-keyframes AnimationName {
        0%{background-position:0% 67%}
        50%{background-position:100% 34%}
        100%{background-position:0% 67%}
      }
      @keyframes AnimationName {
        0%{background-position:0% 67%}
        50%{background-position:100% 34%}
        100%{background-position:0% 67%}
      }
    }
  }
}

.clearfix,
main,
article,
section {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.site {
  background: #fff;
  margin: 0 auto;

  .home & {
    background: transparent;
  }
}

.site-content {
  max-width: 1340px;
  margin: 4rem auto 8rem;
  padding: 0 3%;

  .full-width & {
    max-width: none;
    padding: 0;
  }

  &.max-width--960 {
    max-width: 960px;
  }

  .testimonials & {
    margin-top: 0;
  }

  .our-values & {
    margin: 0 auto;
  }

  &.sidebar--left {

    @include breakpoint('sm') {
      .content-area {
        float: right;
        padding: 0 0 0 5%;
        width: calc(100% - #{$sidebar-width});
      }
    }
  }
}

.width {
  &--65 {
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
  }
  &--70 {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
}

.flex-container {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }
}

.inline-flex-container {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.align-items--center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.masonry-grid {
  font-size: 1.0rem;

  @include breakpoint('sm') {
    font-size: 2rem;
  }

  &__grid-item {
    margin-bottom: 30px;
    width: calc(50% - 15px);

    &:hover {
      transform: scale(1.05) !important;
    }

    img {
      width: 100%;
    }
  }

  &__gutter-sizer {
    width: 3em;
  }
}

.section {

  &--full-width {
    margin: 8rem auto;
    padding: 0 3%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__wrap {
    margin: 0 auto;
    max-width: 1060px;

    &--wide {
      max-width: 1260px;
    }

    &--full {
      margin: 0 -3%;
      max-width: none;
    }
  }

  &--background-image {
    background: #FFFFFF center no-repeat;
    background-size: cover;
    padding: 5% 3%;

    &--right {
      background: no-repeat right center;
      background-size: cover;
    }
  }

  &--values {
    min-height: 900px;
    padding: 5% 0;
  }

  &--testimonials-slider {
    padding-left: 0;
    padding-right: 0;
  }

  &--testimonial-bg {
    padding: 6rem 0;
  }

  &--half-width {
    .section__wrap {
      background: #fff;
      margin: 0 auto 0 0;
      padding: 10rem 6rem;
      width: 100%;

      @include breakpoint('md') {
        width: 50%;
      }

      .testimonials-slider__testimonial-quote {
        margin: 0;
        max-width: none;
        width: auto;
      }
    }
  }
}

.background-image--box-shadow {
  background-size: cover;
  background-position-y: 5%;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &-gutter--30 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    .grid__item {
      margin: 1.5rem;
      flex: 1 1 40%;
    }
  }

  &--3 {
    .grid__item {
      flex: 1 1 200px;

      @include breakpoint('sm') {
        flex-basis: calc(30% - 6rem);
      }

      &--shadow {
        box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.20);
      }

      &--card {
        padding: 4rem 3rem;

        .inline-quote {
          margin-top: 3rem;
          font-family: $font-freight-sans;
        }
      }
    }
  }

  &--4 {
    .grid__item {
      flex: 0 1 200px;

      @include breakpoint('sm') {
        flex-basis: 22%;
      }
    }
  }

  &__our-space {
    display: block;
  }
}
@supports ( grid-gap: 1rem ) {
  .grid {
    display: grid;

    &-gutter {
      &--30 {
        grid-gap: 3rem;

        .grid__item {
          margin: 0;
        }
      }
    }

    &--2 {
      @include breakpoint(640px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--3 {
      &.staff-profiles {
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint('sm') {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @include breakpoint('sm') {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--4 {

      @include breakpoint('sm') {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &--post-links {
      margin: 6rem 0;
    }

    &__our-space {
      grid-row-gap: 2rem;
    }

    &__item {
      &--shadow {
        box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.20);
      }

      &--card {
        padding: 8%;

        p {
          margin: 0 0 1rem;
        }
      }
    }
  }
}

.full-width--forced {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.column-count {
  @include breakpoint('xs') {
    &--2 {
      display: flex;
      flex-wrap: wrap;

      .entry {
        max-width: calc(50% - 5rem);
        margin: 0 2.5rem;
      }
    }
  }

}

.about-us-boxes {
  .grid__item {
    display: flex;
    flex-direction: column;
      .stretch {
        flex: 1;
      }
  }
  .heading {
    text-transform: none;
  }
}
