.skip-link {
  display: none;
  margin: 0;
  visibility: hidden;

  li {
    height: 0;
    width: 0;
    list-style: none;
  }

  &:focus {
    display: inline-block;
    visibility: visible;
  }
}

/* Display outline on focus */
//:focus {
//  color: #0A246A;
//  outline: #0A246A solid 1px;
//}
