html {
  font-size: 50%; /* 8px browser default */

  @include breakpoint('sm') {
    font-size: 62.5%; /* 10px browser default */
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-freight-sans;
  font-weight: 500;
  color: $color-dark-gray;
  font-size: 1.6rem;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-family: $font-didot;
  font-size: 6rem;
  color: $color-orange;
}

h2 {
  font-family: $font-didot;
  font-size: 4rem;
  color: $color-black;
}

h3 {
  font-family: $font-didot;
  font-size: 3.2rem;
  color: $color-orange;
}

h4  {
  font-family: $font-freight-sans;
  font-size: 2.4rem;
  color: $color-black;
  text-transform: uppercase;
}

h5 {
  font-family: $font-freight-sans;
  font-size: 2.4rem;
  color: $color-black;
}

h6 {
  font-family: $font-freight-sans;
  font-size: 2rem;
  color: $color-orange;
  text-transform: uppercase;
}

.heading {
  color: $color-black;
  font-family: $font-didot;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 1rem;

  &--light {
    color: #fff;
  }

  &--orange {
    color: $color-orange;
  }

  &--main {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    &.heading--separator-after::after {
      margin: 20px auto 0;
    }
  }

  &--separator-after {
    position: relative;

    &::after {
      border-top: 1px solid $color-orange;
      content: ' ';
      display: block;
      margin: 20px 0 0;
      min-width: 140px;
      width: 20%;
    }
  }

  &--separator-after--white {
    position: relative;
    text-align: left;

    &::after {
      border-top: 1px solid #fff;
      content: ' ';
      display: block;
      margin: 20px 0 0;
      min-width: 140px;
      width: 20%;
    }
  }
}

p {
  line-height: 2.4rem;
  margin-bottom: 3.2rem;
}

a {
  color: $color-orange;
  text-decoration: none;
  transition: all 0.3s;
  
  &:hover,
  &:focus {
    transition: all 0.3s;
    text-decoration: underline;
  }
}

a.link--inverted {
  color: $color-black;

  aside & {
    color: $color-gray;
  }

  &:hover,
  &:focus {
    color: $color-orange;
  }
}

.font-size {
  &--2 {
    font-size: 2rem;
  }

  &--3 {
    font-size: 3.6rem;
  }

  &--4 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &--6 {
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  &--12 {
    font-size: 12rem;
    margin-bottom: 3rem;
  }
}

.call-out {
  font-size: 2.4rem;
  margin: 1.0rem auto;
  text-align: center;
}

.color--orange {
  color: $color-orange;
  max-width: 95%;
}

.first-letter {
  color: $color-orange;
  font-family: $font-didot;
  font-weight: bold;
  font-style: italic;
  font-size: 4.8rem;
}

.inline-quote {
  color: $color-orange;
  font-family: $font-didot;
  font-weight: bold;
  font-style: italic;
}

.quote-credits {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint('lg'){
    font-size: 2rem;
  }
}

.text-align--center {
  text-align: center;
}

button,
.button {
  align-items: center;
  background: #fff;
  border: none;
  border-radius: 2.5rem;
  color: $color-orange;
  cursor: pointer;
  display: inline-flex;
  font-size: 2.0rem;
  justify-content: center;
  min-height: 5.3rem;
  min-width: 20.0rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include breakpoint('sm') {
    min-width: 24.0rem;
  }

  &--outline {
    border: 1px solid $color-orange;
  }

  &:hover,
  &:focus,
  &--dark,
  &--current-item,
  &.gform_button {
    background: $color-orange;
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    transition: all 0.3s;
  }

  &.gform_button:hover,
  &.gform_button:focus {
    background: #fff;
    border: 1px solid $color-orange;
    color: $color-orange;
  }

  &.button--small {
    min-width: 180px;
  }

}


ul.inline-list {
  display: inline-flex;
  flex: 1 1 30rem;
  flex-wrap: wrap;
  list-style-type: none;

  &#isotope-filters {
    padding-left: 0;

    li > a {
      // min-width: 140px;

      @include breakpoint('sm') {
        // min-width: 180px;
      }
    }
  }

  li {
    margin: 5px;
  }
}

.read-more-link,
.more-link {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;

  .blog & {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: none;
  }
}
