// Colors
$color-white: #ffffff;
$color-orange: #E3502D;
$color-orange-2: #DD7742;
$color-dark-gray: #6A696A;
$color-black: #4A4A4A;
$color-gray: #9B9B9B;
$facebook-color: #3B5998;
$instagram-color: #FB3958;
$twitter-color: #1DCAFF;
$pinterest-color: #C92228;
$shadow-settings: 2px 2px 4px rgba(0, 0, 0, 0.3);
$hero-shadow: 0 2px 4px rgba(0,0,0,0.4);

// Fonts
$font-freight-sans: "freight-sans-pro", sans-serif;
$font-didot: "Didot 11 A", "Didot 11 B", Georgia, serif;

// Sidebar
$sidebar-width: 210px;

// Media queries
@mixin breakpoint($size) {

  @if $size == xs {
    @media (min-width: 480px)  { @content; }
  } @else if $size == sm {
    @media (min-width: 768px) { @content; }
  } @else if $size == md {
    @media (min-width: 1023px) { @content; }
  } @else if $size == lg {
    @media (min-width: 1200px) { @content; }
  } @else if $size == xl {
    @media (min-width: 1340px) { @content; }
  } @else {
    @media (min-width: $size) { @content; }
  }
}
