.widget-area {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint('sm') {
    display: block;
    min-width: $sidebar-width;

    .sidebar--left & {
      border-right: 2px solid $color-orange;
      float: left;
    }
  }


  .widget {
    flex: 1 1 150px;
    margin-bottom: 4rem;
    padding: 0 3%;

    @include breakpoint('sm') {
      padding: 0;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    
    > li {
      > a {
        display: block;
        font-weight: 600;
        padding: 2rem 3rem;
        text-transform: uppercase;
        
        &:hover,
        &:focus,
        &.current-item {
          background: $color-orange;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
